[2019-01-25 22:49] adbenitez commented on #665
Couldn't test this with bigger emails (because the cost) but maybe this seems too much because the emails are small and the DC headers are taking a lot, perhaps with bigger emails the difference is just this same 2-12=10KB

Another interesting result:
Receiving read receipts take ~7KB each one so in a group of N members you take 7KB *(N-1)  extra consumption for every email you send.
ex. if N=51 y

[2019-01-25 23:15] r10s commented on #666
thanks for reporting, changed the behavor in the core as this makes things also easier for desktop/ios at a later point

[2019-01-26 00:37] csb0730 commented on #665
Hi @r10s
the principles how DC is working should be documented clearly to understand where some extra waste of data consumption could be.

As far as I understand there are (were) some potential waste situations existing when a msg is send:
1. uploading a second time to _DeltaChat_ folder at IMAP server (v.0.20.0)
2. same message is recognized again in this folder as new and is downloaded again to

[2019-01-26 00:40] csb0730 commented on #665
@adbenitez
Do You speak about a msg to a single peer or to a group of?
There should be a difference because of the read receipts!

[2019-01-26 00:44] csb0730 commented on #665
@adbenitez
If You send a msg to only one receipt You should have the same data volume as with K9.
The difference would be if You activate read receipts.
Another blow up of data is autocrypt (!) Public key is send with every message! This is a significant difference to K9 (in standard config). Did You pay attention to that?

[2019-01-26 00:53] csb0730 opened #668 "Unclear who is working on what issue"
If I see all these issues I think it's time to make development more clear for developers and users.
There are many issues open but it's not clear who is working on what issue and what is the time line.

There should be a plan who's working on what issue with what timeline to prevent double or unnecessary workload.

Any ideas?

[2019-01-26 00:56] csb0730 commented on #668
Maybe open a wiki for that?

[2019-01-26 02:06] adbenitez commented on #665
Christian Schneider:
My test where made only in a 1x1 setup(not in groups, the group stuff I mentioned was a deduction of the fact that a single read receipt uses 7KB), and of course in equal conditions for both programs I tested only the sending of plain unencrypted text, so I disabled encryption and read receipts on DC for the comparative test. The read receipt data was taken from a separate tes

[2019-01-26 02:10] r10s commented on #668
in general, i think we try to use the github **Assignees**-function to indicate who wants to work on an issue. or at least add an corresponding statement.

issues where no one is assigned to may not have someone that cares about just in that moment.

if someone wants to work on an issue and does not have write access (yet) may just drop a comment to the issue so that someone else can assign him.

[2019-01-26 02:14] r10s commented on #668
also, of course, not all issues will result in sth. being done. or it is unclear what to do. many issues start with a discussion about what should be done at all, https://github.com/deltachat/deltachat-android/issues/662 is an good example.

wrt a time line - well that's probably harder :)

[2019-01-26 02:21] r10s commented on #665
might be that the "move" function creates even more traffic than the watch. not directly for downloading, but there is some imap activity involved. in general, to save traffic, i would try to disable these watch and move functions.

[2019-01-26 02:47] adbenitez commented on #665
Christian Schneider:

Well, sadly it is not the case... 2KB in k9 and 6KB (without watching inbox and moving to DeltaChat folder)

Yes, I disabled encryption, does DC still send public key in this situation?? This sound like a waste to send this every time...

I think this consumption may be fine for people with faster and unmetered  connections but for people in my situation been able to send six

[2019-01-26 09:50] #666 closed

[2019-01-26 12:10] r10s commented on #665
yip, the public autocrypt-key is sent for all outgoing messages. it is about 2k in a test i just did, but it may be larger for several reasons.

you can see the key as the `Autocrypt` header if you have a look at the mail source eg. in thunderbird.

the publicc public autocrypt-key is currently not sent for read-receipts.

however, in general, it's not a waste. it's to allow any random, also new c

[2019-01-26 12:15] r10s commented on #665
would  be also interesting to measure the traffic for larger messages as images, where the Autocrypt header overhead does not count in. due to the use of bbc-self instead of a separate imap-upload, might be that the result is just the other way round then.

wrt. k-9: for comparible results, also for k-9 autocrypt should be enabled.

@adbenitez i'm not saying you should test this under this expensi

[2019-01-26 12:19] r10s opened #669 "group icon wrong on contact results in search"
when using the global search, also contacts are shown in the list.

as the list _recycles_ old views, states must be re-set, however, this is not done for contacts and for the group icon; the group icon is randomly displayed or not, depending on how the view was used before.

[2019-01-26 15:40] adbenitez commented on #665
yeah, K9 also shows header.

All this encryption stuff sounds really cool, but what about people that don't wanna play our game, people for what encrypting every single (and unimportant) message they send is a luxury, and they prefer send plain text messages and have something for dinner, they may disable encryption from the bigining and never in their life send an encrypted message with DC, they

[2019-01-26 15:51] adbenitez commented on #665
björn petersen:

I am traveling, later I will do some test with "small" images because big images could introduce noise due to network errors and retrying, after all currently I am using this email thanks to **holger krekel**

[2019-01-26 15:52] webratte commented on #665
I do understand you because you have to save every kb.

But encryption by default is a absolutely must have in times of NSA, Facebook and so on.

And I think the cuban coverment is a reason for encryption ;-)

[2019-01-26 18:33] angelo-fuchs commented on #668
I try to garden the labels a bit to make it more clear. If someone starts changing code for an issue one should assign oneself to it. Until anybody is assigned its relatively safe to assume nobody is code-wise working on it.

- [Bugs](https://github.com/deltachat/deltachat-android/labels/bug) should be worked on, I prioritize (and expect others to prioritize) them over
- [Feature Requests](https:/

[2019-01-26 18:34] angelo-fuchs commented on #668
@csb0730 Is it more clear now who is working on what? Can we close this issue?

[2019-01-26 18:44] adbenitez commented on #665
webratte:
hey! I never said not to use encryption by default!!!!! :P
I just said that if an user don't want to use it then respect that, it is really expensive for us, people here simply can't afford encryption and most of us aren't people at risk so don't want to waste a lot of money encrypting nonsenses or trivial messages.
Also users using another tools like Oversec don't need DC's built-in enc

[2019-01-26 18:44] angelo-fuchs opened #671 "Label Gardening"
We have 15 Labels: https://github.com/deltachat/deltachat-android/labels/

I'm quite certain we don't need them all so I suggest to cull the following:

- [anbox](https://github.com/deltachat/deltachat-android/labels/anbox) - only one closed question. We don't have other active system tags and I don't think we need them.
- [blackberry](https://github.com/deltachat/deltachat-android/labels/Blackber

[2019-01-26 20:34] violoncelloCH commented on #668
how about using milestones for the upcoming versions?
so just create milestones for v0.100.1, v0.100.2, v0.101, v1.0 and so forth... then you just add issues to these milestones (by priority)...
once you want to release v0.100.1 and there are still open issues left for the corresponding milestone, you simple move all of those remaining ones to v0.100.2 or whatever...

I think milestones in combina

[2019-01-26 20:56] ralphtheninja commented on #668
@csb0730 Note that there are meta projects like https://github.com/orgs/deltachat/projects/7 which allow you to gather issues across different repositories, since we try to keep development somewhat in sync across different delta chat implementations.

I don't know about everyone's background, but it might be the case that some people on "the outside" have a more traditional background when it com

[2019-01-26 21:01] r10s commented on #671
i do not have a strong opinion about an exact label list, i think we should just add labels as needed as yes, it may make some sense to remove completely unused labels.

however, label-deletion makes information harder to access.

eg. it is handy for the upcoming blog post or other statistic reasons to see which issues were targeted in by the switch to the signal ui - this is no longer possible wh

[2019-01-27 09:10] angelo-fuchs commented on #665
I just let tPacketCapture App run while I sent a single message with one Character content to myself. Encryption is off (no key for recipient), Read Receipts did not happen (Message was not read).
Overall it was: 5636 Byte transferred between my phone and my server.

This did not include stuff like DNS, etc. as the connection had been already established.

I will continue to add measurements.

[2019-01-27 12:19] Wasnix opened #672 "Delta chat crashes after sending first message"
I've made fresh install from f-droid. After sending the first message Delta Chat crashes. Here is the extracted log from logcat:
[code]
Sending was successful. I've got the message in my mailbox. After deleting and newly install of appplication Delta Chats works without problems.

Platform: Android 7.1.2, 64-bit
Device: Xiaomi Redmi 5 plus (rooted), 4 GB RAM, 64 GB memory (25 GB free)
Delta Chat V

[2019-01-27 13:42] r10s commented on #672
hi @Wasnix - thank you for your report.
however, 0.20.0 is outdated.
can you please retry with 0.100.0 - either wait until you get an automatic f-droid update or use the apk from the "releases" section.

[2019-01-27 14:19] violoncelloCH commented on #668
@ralphtheninja these projects are not public (I have the "contributor" label and can't access it either)... is this intended this way?

[2019-01-27 14:31] ralphtheninja commented on #668
Nope, it _should_ be public imo. Will fix.

[2019-01-27 14:32] ralphtheninja commented on #668
@violoncelloCH Please try again.

[2019-01-27 14:37] violoncelloCH commented on #668
@ralphtheninja thanks! now it's public!
note, that's the only project which is public now... should the others be public too?

[2019-01-27 16:39] r10s commented on #668
there are no others projects atm :)

[2019-01-27 16:46] violoncelloCH commented on #668
Ahh then everything is fine... just thought because @ralphtheninja wrote "meta projects like"...

[2019-01-27 17:38] adbenitez commented on #665
just figured it out!!!
DC don't move to DeltaChat folder messages I sent to peers that don't use DC!!!!!

[2019-01-27 19:39] f242 opened #673 "add plz this preset for mail.ru, inbox.ru, bk.ru, list.ru"
### Incoming
**IMAP login**
full e-mail: username@mail.ru, username@bk.ru etc
**IMAP server**
imap.mail.ru
**IMAP port**
993
**IMAP security**
SSL/TLS

### Outgoing
**SMTP login**
full e-mail: username@mail.ru, username@bk.ru etc
**SMTP password**
e-mail password
**SMTP server**
smtp.mail.ru
**SMTP port**
587
**SMTP security**
SSL/TLS

[2019-01-27 20:54] Ampli-fier opened #674 "Autoconfig fails for invalid Certificates"
- Platform: Android 5.1 + Android 9
- Device: Samsung Galaxy S2 + Pixel 3
- Delta Chat Version: 0.97.2
- Expected behavior:

Autoconfig files can be downloaded - even when the Certificate cannot be verified. This was working in the F-Droid version.

In general it would be nice if the Java errors reported by Android (`W System.err` in below Logs) could be suppressed.

- Actual behavior: Autoconfig

[2019-01-27 21:34] Ampli-fier commented on #674
Your comment made me think that it was probably never working with invalid certificates, but it was working with unsecure http.

This was refined with [this commit](https://github.com/deltachat/deltachat-core/commit/a128a0ed694473867998e0d0776446f53b3e2ce4?diff=unified) some months ago.

When I test to fetch the autoconfig file with http, the `?emailaddress=%s` parameter is mandatory (for the doma

[2019-01-28 08:56] Wasnix opened #675 "Can't change notification sound"
It's not possible to change notification sound. Delta Chat always use default system sound. Older version of Delta Chat (0.20.0) and eg Telegram messenger have no problems and work.

Extracted logcat:
[code]

Platform: Android 7.1.2, 64-bit
Device: Xiaomi Redmi 5 plus (rooted), 4 GB RAM, 64 GB memory (25 GB free)
Delta Chat Version: 0.100.0

[2019-01-28 09:37] angelo-fuchs commented on #665
@adbenitez And because DC does NOT move something, it consumes MORE network? I don't get it, please elaborate.

[2019-01-28 09:57] violoncelloCH commented on #655
it's finally available on f-droid!! :)

[2019-01-28 10:31] r10s commented on #655
\o/

[2019-01-28 18:15] adbenitez commented on #665
@angelo-fuchs

I said in the previous post:

and then I said:

I figured it out the reason why DC wasn't moving my test messages NOT the reason why "it consumes MORE network", I think I will open an issue for this... bug???

[2019-01-28 19:08] haeckser opened #676 "check, if images of older versions (<0.10 or so) may get deleted by housekeeping"
- Platform (android ): CYANOMODGEN - Android 6.1
- Device: Samsung GT-N8013
- Delta Chat Version: 0.20.0 -> 0.100.0
- Expected behavior: old chats and pictures should be there as before
- Actual behavior:all pictures and videos except the one from yesterday are deleted from device (saw it in log)
- Steps to reproduce the problem: doing it one time is enough ...
- Screenshots:
- Logs: sorry, had no

[2019-01-28 19:40] r10s commented on #676
that's bad :( thanks for reporting.

what does "from device" mean - from delta chat messages (so, from the blobdir as shown in settings/advanced/log) or from the devices gallery?
also, the files should still be together with the messages on the imap server.

just had a closer look to the code, in fact, 0.100.0 adds a "housekeeping" function that scans the blob directory and deletes files that are

[2019-01-28 20:00] haeckser commented on #676
I recognized it the first moment when I looked into the log (while discovering the new UI) and saw that a bunch of pictures were deleted ..
deleted from the device, not from mail server.
The device was migrated from version to version since 0.76 version one or two years ago. So the theory of absolute path might be correct.

Meanwhile I have rebooted the device and now I can reload an older backup

[2019-01-28 20:07] adbenitez opened #677 "contact avatar not updated in Chats list and contacts list views"
I have updated the picture of a contact in my phone contacts app, now the old avatar is shown in some views in Delta Chat, but it shown properly on a 1x1 chat with that contact, see the screenshot.

- Platform (android/blackberry/anbox): Android 6.0
- Device: BLU
- Delta Chat Version: 0.100
- Screenshots:

![screenshot_20190126-002555](https://user-images.githubusercontent.com/24558636/51862759-4b

[2019-01-28 20:14] r10s commented on #676
cool, i'd like to keep this open for a while anyway :)

[2019-01-28 21:13] r10s commented on #676
yip, thinking it over again, the absolute-conversion-path-thingie that failed on an older version is reasonable.
the conversion as such, however, is still present and will be executed as needed (just re-checked that).

anyway, there is nothing that could be done on this just now, agree to @haeckser and re-closing.

[2019-01-28 21:13] #676 closed

[2019-01-28 23:00] csb0730 commented on #668
@angelo-fuchs & everyone
Yes, it's now more clear for me :) ... and @ralphtheninja please see this issue here not so strict in matters of timeline. That's not so important IMHO.

In general it's interesting for people what are the next issues which will be attacked. So I find @violoncelloCH 's proposal very useful for everyone:

The most important thing is, that - because of limited resources - it

[2019-01-28 23:16] csb0730 commented on #668
Checked "../projects/7"

But I assume a simple _NEXT_MILESTONES.md_ or a simple Assignee indicator at issue (@r10s) could help and would be sufficient?

[2019-01-29 01:06] SebiderSushi opened #681 "Wrong key usage after importing own key with seperate signing key"
- Platform (android/blackberry/anbox): andoird
- Device: OnePlus X
- Delta Chat Version: 0.100.0
- Expected behavior: When opening DeltaChat messages in another E-Mail Program (e.g. Thunderbird/Enigmail) they should be decryptable.
- Actual behavior: GPG fails to check the signature with the message "Wrong key usage (0x00, 0x4)"
- Steps to reproduce the problem: Import  your own GPG key into Delta

[2019-01-29 09:02] angelo-fuchs commented on #668
@csb0730 Cool. We already have the Assignee indicator (whenever someone works on a thing, s/he assigns it to themselves).
We had a lengthy discussion on IRC yesterday about milestones and in general are opposed. One thing I will do today is move the feature requests to the forum (where they actually belong) so the github issue tracker is for bugs and new features someone is actively working on, ri

[2019-01-29 09:02] #668 closed

[2019-01-29 09:04] angelo-fuchs commented on #677
Does that change when you restart the phone / force kill delta?

[2019-01-29 09:16] angelo-fuchs commented on #420
@adbenitez Could you test if this problem is still present? Might have been fixed in one of the recent cleanup actions.

[2019-01-29 09:46] angelo-fuchs commented on #671
@r10s Could you come up with a better explanation of "question"?

[2019-01-29 10:48] angelo-fuchs commented on #656
This dependency: com.soundcloud.android:android-crop:0.9.10@aar is only needed in Group Select Avatar. If we were to unify this with Profile: Select Avatar this dependency would be obsolete.

[2019-01-29 11:04] r10s commented on #671
well, it's a question :) i do not have a more concrete definition or so, but as it was used in the past sounds reasonable to me - "Adjust or remove address object?" - "KeyCachingService superfluous?" - "what is the '/patches' folder needed for?" - "for what exact reason is SASL needed?".

it may indicate one maintainer has a question to other ones. or to indicate sth. where some more research is n

[2019-01-29 12:09] angelo-fuchs commented on #671
@r10s I leave it. Thank you for the input. When I can come up with a good description, I will add it.

[2019-01-29 12:09] #671 closed

[2019-01-29 12:44] #669 closed

[2019-01-29 12:59] angelo-fuchs commented on #451
Just tested together with @Simon-Laux and have seen whats going on. I'll have a look at the code.

[2019-01-29 13:04] r10s commented on #451
btw, i also realized that the order of the notified messages may be wrong. i the phones notifies "MessageA" and then after a minute "MessageB", both are shown when enlarging the notifications, however, the short popup that is displayed during the sound always shows "MessageA".

[2019-01-29 13:09] angelo-fuchs commented on #451
@r10s Is that true regardless of quite time (20 seconds) between messages?

[2019-01-29 15:36] adbenitez commented on #677
I restarted the phone, (I had tried killing the app time ago) but this doesn't work, this is happening since  several days ago, and seems a permanent issue, will try changing the avatar again to see what happens.

[2019-01-29 15:58] adbenitez commented on #420
yup, still alive

[2019-01-29 16:15] adbenitez commented on #451
yeah, I am annoyed by this but I was thinking it was the intended behavior  of the devs...

[2019-01-29 18:02] adbenitez commented on #18
any plans of implementing this now that 0.100 is out??

[2019-01-29 18:30] adbenitez opened #683 "Automatic configuration isn't working"
Delta Chat autoconfiguration seems to be smart enough, sadly it is a bit broken.
My server doesn't provide an autoconfig xml but it uses well know addresses and ports, so when I input "myusername@nauta.cu" and my password and leave empty all other fields, Delta Chat automatically try to use my email as user and "imap.nauta.cu" for the IMAP server, also the port is automatically "detected" based on

[2019-01-29 18:45] adbenitez opened #684 "Delta Chat doesn't move messages sent from/to peers using other MUA"
DC don't move to INBOX/DeltaChat folder messages I sent to peers that don't use DC or messages they send to me, if users are chatting with that contact inside DC they expect they self-bcc copy of the messages moved to the DeltaChat folder as well as  the replies of the users to that chat.

- Platform (android/blackberry/anbox): Android 6.0
- Device:BLU
- Delta Chat Version: 0.100
- Expected behavi

[2019-01-29 19:40] r10s commented on #18
nothing concrete, but sooner or later we will probably go for it.

the desktop app already supports multiple accounts (and deltachat-core as well).

[2019-01-29 19:44] r10s commented on #683
again, thanks for the detailed report. moving this to core, however, there is nothing that android can do about this.

[2019-01-29 19:48] r10s commented on #451
@angelo-fuchs yip, it's still true. it's only the order. happens wenn the app was not used between MessageA and MessageB.

[2019-01-29 21:07] hpk42 commented on #18
Likely it's not the next thing to do but yes,
it's now more feasible to think about it ;)

On Tue, Jan 29, 2019 at 18:02 +0000, Asiel Díaz Benítez wrote:

[2019-01-29 23:52] r10s commented on #384
there are real-live-problems with the decision of skipping the email for the http-requests, see https://github.com/deltachat/deltachat-android/issues/384

[2019-01-30 20:38] adbenitez commented on #435
Not sure if this is useful, but some days ago while seeing the logs, I found a message that said: "Skipped 55 frames! The application may be doing too much work on its main thread."
Screenshot:
![screenshot_20190128-205352](https://user-images.githubusercontent.com/24558636/52011063-01358800-24a5-11e9-8b00-b010e46e3643.png)

[2019-01-30 21:43] adbenitez opened #685 "Image shown in wrong day in gallery(all media)"
in a group chat, there was only one picture posted that day, (under the label "Today" as shown in the first screenshot) but in the gallery (all media) two images are shown under the header "today" one of them was from yesterday and isn't shown in the "yesterday" section (see the second screenshot)

- Platform (android/blackberry/anbox): Android 6.0
- Device:BLU
- Delta Chat Version:0.100
- Screens

[2019-01-31 01:10] rilian-la-te commented on #180
@r10s, sorry for write in closed request, but I think my request is similar, and I want to know if it is case, or I can submit another request with my proposal.

I want to allow forwarding with comment attached, and forwarding several messages at one message (with message splitting marks).

This can serve as quoting in chat rooms and as sign of reply in ordinary chats, for example:

1. I send 2 qu

[2019-01-31 13:40] adbenitez commented on #685
will do, it is happening again for other two pictures

[2019-01-31 13:49] angelo-fuchs commented on #451
@r10s Can't reproduce. Need to see it on your phone.

[2019-01-31 14:01] angelo-fuchs commented on #677
@adbenitez I can reproduce this.
To get the avatar I had to hit the '+' Icon on the Conversation List. Only after that the contact avatars were synchronized.

[2019-01-31 14:17] adbenitez commented on #677
yeah! that used to work for me, but now it doesn't, but probably has nothing to do with DC

[2019-01-31 16:15] cyBerta opened #687 "clean up: remove protobuf"
I was stumbling over the protobuf folder. According to @angelo-fuchs protobuf is not used in delta chat and thus related files should be removed.

[2019-01-31 18:47] adbenitez commented on #685
this screenshots are all from 2 new pictures, the messages details are NOT from the old ones:
today pic:
![screenshot_20190131-082713](https://user-images.githubusercontent.com/24558636/52077259-96488780-255e-11e9-9063-e38bd0ddc469.png)
yesterday pic is shown under today header:
![screenshot_20190131-082629](https://user-images.githubusercontent.com/24558636/52077263-98124b00-255e-11e9-8c52-227354

[2019-01-31 19:41] violoncelloCH opened #688 "indicate audio message duration initially"
If you receive a voice message, you want to know the duration of the audio. Currently deltachat shows 00:00 and starts counting upwards from there. I think it should show the whole duration initially and only after clicking play, it should be set to 00:00 and start counting...

Platform (android/blackberry/anbox): android
- Device: honor 8
- Delta Chat Version: 0.100.0
- Expected behavior: show fu

[2019-01-31 20:32] adbenitez commented on #688
I was annoyed by this and always forget to open the issue, +1

[2019-01-31 21:00] angelo-fuchs commented on #687
I just grepped through the code and couldn't find anything for it. @cyBerta Could you make a PR with removing it?

[2019-01-31 21:02] angelo-fuchs commented on #685
Thanks! I will investigate this more, Pic Info helped.

[2019-02-01 00:47] cyBerta commented on #454
The repository was moved and VideoEditorActivity can be found here [here](https://github.com/deltachat/deltachat-android-old/blob/master/MessengerProj/src/main/java/com/b44t/messenger/VideoEditorActivity.java)

[2019-02-01 15:38] CompuRoot opened #691 "GIF images won't display"
Animated attached GIF files displayed as a big empty white box.

- Platform: android
- Devices: Samsung, Honor
- Delta Chat Version: 0.20 (official from f-droid)
- Expected behavior: Either show an image of show it as attachment as it works for PDF files
- Actual behavior: White box instead of picture
- Steps to reproduce the problem: Ask some1 to send to DeltaChat any animated GIF file

On a long

[2019-02-01 17:37] Hiboycubano opened #692 "Protocol Overload"
In the message header of every remains "references" with a list of ID of every message of the conversation.
I think this is a protocol overload very important to take in count.
Messages start having the normal overload of cypher but after a week a 1 line message takes over 19KB in both directions

[2019-02-01 18:13] violoncelloCH commented on #441
I would like to try to do this... could you point me to the right file? :)

[2019-02-01 18:46] violoncelloCH commented on #441
and it works!
should I do the same for the login-name fields? there you potentially type something like prename.lastname@example.com and it would be changed to Prename. too...

[2019-02-01 22:48] r10s commented on #691
@CompuRoot thanks for the report. is this be behavior still true for 0.100.0? (there should be an update on f-droid)

[2019-02-01 23:03] r10s commented on #180
well, most things are possible in a way, however, it's often about resources :)

however, feel free to create a new feature proposal in the forum at https://support.delta.chat/ - this issue tracker is mainly about bug reports.

[2019-02-01 23:30] r10s opened #697 "prepare for gplay"
- [x] create an organisational-gplay-account

- [x] check, if we want to go to the gplay-beta-channel first

- [x] create and use a release-key to sign; this one should also be used to sign the apk-downloads on github (which can also get the gplay applicationId then), cmp #651

- [x] modify applicationId to `chat.delta` or so. take care that for f-droid, `com.b44t.messenger` stays unchanged to avo

[2019-02-02 10:59] Loader009 commented on #464
Nearly the same problem for PIN and on newer version.
(Mostly copied from adbenitez and changed the different things.)

Platform (android/blackberry/anbox): Android 8.1 (omniROM)
Device: suzu (Sony Xperia X)
Delta Chat Version: 0.100.0
Steps to reproduce the problem: Go to Settings/Privacy and enable "Screen Lock" switch, close the app go to your file manager and try to share a file, select Delta

[2019-02-02 13:48] webratte commented on #691
For me it works fine.
Animated gifs will shown correctly.

Huawei nova
Androd 7
DeltaChat 0.100.0

[2019-02-02 14:42] #441 closed

[2019-02-02 14:46] r10s commented on #691
for me it also works, closing this for now. we can re-open when the problem still exists.

[2019-02-02 14:46] #691 closed

[2019-02-02 14:47] r10s commented on #672
closing this for now; we can re-open this when the problem still exists in 0.100.0

[2019-02-02 14:47] #672 closed

[2019-02-02 14:49] r10s commented on #687
fixed by https://github.com/deltachat/deltachat-android/pull/690

[2019-02-02 14:49] #687 closed

[2019-02-02 15:02] #418 closed

[2019-02-02 21:39] #222 closed

[2019-02-02 23:44] r10s opened #698 "group create issues"
- create group -> add one member -> leave group name empty -> create -> crash

- create group -> show qr code -> do _not_ scan -> optionally add one member -> create -> cannot send as SELF is not member

[2019-02-03 08:41] webratte commented on #697
IMHO 90% of the users not interested in the AppID.

So the devs should check how much is to do, to change the ID and is it really needed.

[2019-02-03 09:19] Boehrsi commented on #464
Yep, this issue shouldn't be related to the given Android version. The sharing stuff needs to be aware of the screen lock feature, which is currently missing and I hope it will be fixed next week.

[2019-02-03 09:45] r10s commented on #454
@cyBerta iirc it will take some time until the work on this will start from you site. to not block the issue until then, i've unassigned you for now. feel free to reassign when work on this has really started.

[2019-02-03 09:47] csb0730 commented on #668
Hi @angelo-fuchs
the Assignee indicator is great :-)
This makes development really more transparent for everyone!

Thanks a lot :-)

[2019-02-03 11:03] violoncelloCH commented on #448
shouldn't there be #522 referenced instead of #153 ? That's possibly mixed up because of issue moving from deltachat-android-ii to deltachat-android, isn't it?

[2019-02-03 11:47] violoncelloCH commented on #438
I think it would be good to use the full display space for the image already initially and show status bar, top menu bar and the bar with the home and back button (depending on the android version) semitransparent... then on click or zoom all these ui elements should be hidden...

[2019-02-03 14:04] esmoak commented on #18
My Gmail account has a dot in it. Like blah.blah@gmail but Gmail treats that dot like a + to an extent. So some people email blahblah@gmail since I got lazy mentioning the dot.

It sorta makes Delta Chat unusable for me as a main way of communicating if it can't let me receive messages for both ways the address is written.

Love the program and I will keep it installed to hopefully still implement

[2019-02-04 11:11] angelo-fuchs commented on #246
This proposal has been moved to https://support.delta.chat/t/force-once-un-encrypted-to-directly-reach-a-classic-mua-after-having-had-a-chat/227 as we strife to have all feature proposals in one place.
@testbird @csb0730 Please do put your contributions to the forum.

[2019-02-04 11:11] #246 closed

[2019-02-04 15:37] adbenitez opened #699 "No feedback when blocking contact"
When user go to a contact's profile and select to block the contact, the menu option should change to "Unblock contact" this will provide feedback to the user, also instead of keep offering to block a contact that is already blocked, offering to unblock is more useful, imho.

- Platform (android/blackberry/anbox): Android
- Device: BLU
- Delta Chat Version: 0.100
- Steps to reproduce the problem:

[2019-02-05 17:52] adbenitez commented on #677
I have done a factory reset, and start testing this again:
1. loaded contacts with avatar in DC.
2. edited a contact and removed his avatar picture.
**STATE:** contact avatar was updated in-chat and in contacts list(new chat activity), but still is the old picture in chat list.
3. pressed the '+' button to check if this force an avatar sync, as suggested by @angelo-fuchs
**STATE:** same as previou

[2019-02-06 12:59] r10s commented on #697
yip, after some discussions these day, we'll  go to beta channel first.

[2019-02-06 13:05] r10s commented on #448
@violoncelloCH yip, thanks, corrected this.

/me thinks the issue moving of github can still be improved :)

[2019-02-06 17:18] r10s opened #700 "background color of transparent images should contrast to drawing color"
currently, transparent png or a gif file are shown just as transparent which results eg. black background shining through when shown in the gallery. while this is "okay by design", it fails the expectation of the user if there are some black drawings on a transparent backgrounds - which are visible in the chatlist (white background) but not in the enlarged gallery (black background).

i would sugg

[2019-02-06 17:30] adbenitez commented on #700
I hate to be a killjoy, but this will be what will happen for people wanting to share png files like this one:
![ryzom_logo](https://user-images.githubusercontent.com/24558636/52360789-d4d0bd00-2a0a-11e9-8789-9653cf485d3c.png)
there are an image with transparency there ^

[2019-02-06 17:36] adbenitez commented on #700
what about the classic chess-like background? also instead of doing pixel replace stuff, you could set the background of a container for the pic to the chess-like grid, and make the container not to fill the whole parent but only be as bigger as its content (the image)

[2019-02-06 17:39] webratte commented on #700
I absolutely agree with @adbenitez

A shared picture should stay as it sendet.

[2019-02-06 17:46] adbenitez opened #701 "Provenance of contact isn't shown in contact's profile view"
I think 0.20 did something like this, I am getting a lot of addresses I don't know from where they came, it is useful to know from what chat an address is (was added to my contact list)

- Platform (android/blackberry/anbox): Android
- Device: BLU
- Delta Chat Version: 0.100

[2019-02-06 17:49] adbenitez commented on #701
a mistake! I will open this on the forum, sorry!!

[2019-02-06 17:49] #701 closed

[2019-02-06 18:02] adbenitez commented on #420
@r10s sometimes??? it is always for me...

[2019-02-06 18:14] adbenitez commented on #665
this is one of the reasons of the big size of messages!: https://github.com/deltachat/deltachat-core/issues/555

[2019-02-06 18:20] r10s commented on #700
@adbenitez well, of course, if we switch the background color to white, white drawings are not visible.

however, in practise, i've received drawings with black-on-transparent, but never white-on-transparent - i know that they can exist, however, they seems to be less usual.

i do not like a checked background - this would make things ugly for all pngs just to make things nicer for a few.

but we

[2019-02-06 21:26] adbenitez commented on #700
@r10s I don't know why you don't like the checked background, this has been used to denote transparent backgrounds since ever... and I don't love it or hate it, it is just useful... anyway it will appear only on the image viewer, not in-chat, on top of that this is not the big deal, I don't ever had sent an image with transparency, so apart from giving my advice it is up to you folks to decide wha

[2019-02-06 21:34] adbenitez commented on #700
about replacing bitmap pixel, I said it because it sounds much more simple to use a layout than to play around with an array of pixel, I had done this in Java, I guess in Android is the same, don't know which approach will be faster

[2019-02-07 10:26] sitzer commented on #439
in darkmode the cursor-indidactor bubble is grayish as in the lightmode.
When I edit a text that is several lines long and i move to the first line, the indicator is hard to see...
Signal for example uses a light blue indicator -> better contrast....
System: Lineage 15

[2019-02-07 12:25] r10s commented on #700
it's technically more complicated than expected (as always :)

i did not find a way to force the used Glide-classes to use a background just for the image. using a checked-background would fit the whole screen then, and this looks ugly. i'd prefer whatever background fitting only the size of the image. and this seems doable more easily by changing the pixels as such.

maybe we could add an additio

[2019-02-08 08:19] florianhaar commented on #699
I work on this today

[2019-02-08 09:43] Boehrsi commented on #464
Fixed by:

- Allowing the ShareActivity to exist in the stack history
- Moved the deletion of unneeded content from onPause to onDestroy, to allow the ShareActivity to exist in the background (required as soon as the ScreenLockActivity takes over the screen)

[2019-02-08 12:05] r10s commented on #700
so, anyone with some experiences with glide is very welcome :)

[2019-02-08 12:06] r10s commented on #464
closed by https://github.com/deltachat/deltachat-android/pull/703

[2019-02-08 12:06] #464 closed

[2019-02-08 12:08] #436 closed

[2019-02-08 12:09] r10s commented on #436
good prediction, btw!

[2019-02-08 12:20] r10s commented on #699
closed by https://github.com/deltachat/deltachat-android/pull/704

[2019-02-08 12:20] #699 closed

[2019-02-08 14:59] Boehrsi commented on #649
https://github.com/deltachat/deltachat-android/pull/706 should hopefully fix the mentioned problems.

[2019-02-08 17:42] adbenitez commented on #700
@r10s I have practically no Android programming experience but I considered setting a background for a layout container and putting the image on top of that sounds much more simple and less error prune than playing with pixels, as example, things are not white and black, (or visible and transparent in this case ;) what about if there are semi-transparent areas??? how you calculate the colour? that

[2019-02-08 18:10] r10s commented on #700
@adbenitez setting all pixels from transparent to white or whatever is very simple, a single loop, see the link in the first post.

it's more about when to do this, this requires some understanding of Glide.

for _me_, changing the layout view that should be zoomable and slideable sounds more complicated :)

however, any solution seems to be fine, again, it's more about glide (might also be that t

[2019-02-08 19:02] adbenitez commented on #700
@r10s I had checked the post already but, replacing a colour isn't the same as replacing transparency, or I am wrong?? because there are pixels that are semi-transparent, anyway this Glide-thing may have an easy way to do it, but I don't think the link you posted with the loop would do the trick...

[2019-02-08 20:32] r10s commented on #700
maybe not one-to-one. anyway, of course, if there is a simple glide option, of course, this would be very welcome.
i do not think it is a real problem, however, it just needs some hours to dive into the problem.

[2019-02-08 23:13] r10s opened #708 "notifications not working with targetSdk=26"
i do not receive notifications on android oreo when targeting sdk 26 (since https://github.com/deltachat/deltachat-android/issues/436), targeting sdk 25 on oreo works (tested with the f-droid-version)

[2019-02-08 23:14] r10s commented on #436
issues as expected :) first one: notifications stop working since the sdk change: https://github.com/deltachat/deltachat-android/issues/708

[2019-02-08 23:24] Ampli-fier commented on #436
Probably worth checking the Signal commits for this. Had the Impression this was done for 'them'.

[2019-02-08 23:40] r10s commented on #708
we have to specify a "notification channel" (whatever this is) when targeting oreo, see https://developer.android.com/training/notify-user/channels

[2019-02-09 00:49] r10s opened #709 "led/vibrate not working with targetSdk=26"
my led does not blink-blink -- not even in purple :( -- on on android oreo when targeting sdk 26 (since https://github.com/deltachat/deltachat-android/issues/436), targeting sdk 25 on oreo works (tested with the f-droid-version)

[2019-02-09 00:54] r10s opened #710 "hidden foreground notification plays sound when becoming active, targetSdk=26"
the hidden foreground activation that is added when the screen is turned off plays a sound when added.

nice as you hear now what you do not see :)

this issue is added by targetSdk=26 appearing on oreo, the f-droid version is fine.

[2019-02-09 01:15] r10s commented on #710
seems as if NotificationCompat calls setSound() even when no sound is set - which results in the default sound then ... everything seems to be broken.

https://stackoverflow.com/questions/45395669/notifications-fail-to-display-in-android-oreo-api-26

the individual notification setting moreover has a lower precedence as the one of the channel, hm.

however, this probably also explains #709

[2019-02-09 01:35] r10s commented on #709
vibrate does not work as well and probably not even the selected sound.

[2019-02-09 14:45] #433 closed

[2019-02-09 14:45] #708 closed

[2019-02-09 14:45] #710 closed

[2019-02-09 15:46] r10s commented on #432
i think this is included in #451 now

[2019-02-09 15:46] #432 closed

[2019-02-09 15:54] r10s commented on #675
also works for me, might be a problem with the rooted samsung or so, not sure what we can do on this.

some links i've found:
https://stackoverflow.com/questions/52550200/cannot-play-default-notification-ringtone-on-some-device
https://stackoverflow.com/questions/2618182/how-to-play-ringtone-alarm-sound-in-android

[2019-02-09 20:29] violoncelloCH commented on #434
something for the project playOne?

[2019-02-09 22:58] r10s commented on #434
added it there as "optional", we'll see if someone is targeting it :)

[2019-02-10 06:39] webratte commented on #697
It seems you have no courage to create a Google play account :-P

Believe me, that is not that complicated.
I did it already for my own (boring) App ;-)

Or don't you find a person in authority?

[2019-02-10 13:09] r10s commented on #697
@webratte thanks for encouragements! in fact me personally has not much experiences with gplay :)

however, currently, the issues we're targeting are the changes wrt "tiny" things needed for the oreo-target, see https://github.com/orgs/deltachat/projects/8 - eg. the bit annoying forced-usage of NotificationChannels.

[2019-02-10 14:07] #698 closed

[2019-02-10 14:11] bluditbeginner opened #713 "Battery"
- android 6.0
- Device: Wiko Sunny 2
- Delta Chat Version: 0.100

I want to give some hints about battery usage, what we noticed in our testgroup.
We tested the current Version of Delta.Chat in a group of some person.
We noticed different behaviour on different devices.
My device, android 6.0 - normal battery usage - no entry in akku-statistics
Collegue with android 9 - high battery usage - 25%; a

[2019-02-10 14:12] #688 closed

[2019-02-10 14:22] angelo-fuchs opened #714 "English text on contact requests (should be German)"
On Version 0.100 (fresh install from fDroid).

When I set up my Account (login successful) before I started any chat I opened the "Contact Requests"
On the German Installation this message appears below "Kontaktanfragen" (but still in the header)

"Press message to start chatting"

[2019-02-10 14:48] r10s commented on #714
this is already translated, https://github.com/deltachat/deltachat-android/commit/cd5aa0b9c16eb538a9a2bf4a4ebad937ea1f15d3#diff-5a07a86be0448f1f8a28975afa42b8a2L141, however, the translation could be polished :)

in general, there are tons of missing translation strings, i would suggest not to open issues for that here (unless the strings are not translatable by the code)

[2019-02-10 14:48] #714 closed

[2019-02-10 14:55] angelo-fuchs commented on #714
@r10s Okay, I was not in the code atm and I don't know if that text stays when I get the first entries there. So I made this issue more to be sure that I don't forget it :) Cool if its already done.

[2019-02-10 15:11] webratte commented on #697
@r10s I know there a some other open issues. I follow your work on GitHub.

But still I think you should not wait too long for first (Beta) release in Google play store.

It's absolutely important for making DeltaChat famous.

I belive currently it's a messenger for geeks and nerds ;-)
Only a soonish release in Google play store can change it.

By my estimation of your division of work this could

[2019-02-10 15:20] r10s commented on #714
@angelo-fuchs sure, np :)
also polished german a bit and unified "du" -> "sie", however, avoiding these cases where possible.

[2019-02-10 16:33] r10s opened #715 "use NotificationChannels as they are supposed to?"
the Notification.Builder methods setSound(), setLights(), setPriority(), setVibrate(), setDefaults(), setPriority(), ... are no longer working in android 8 (aka oreo aka API level 26).

instead there are corresponding NotificationChannel methods. however, the NotificationChannel cannot be changed or deleted programmatically but should be changed by the system once created. this can be done using t

[2019-02-10 16:37] #709 closed

[2019-02-10 16:44] r10s commented on #279
closing this for now, we can re-open as needed

[2019-02-10 16:44] #279 closed

[2019-02-10 16:58] r10s commented on #398
i think the fix is to set the correct device time.

however, as the discussion is already shifted to the forum, i'll close this issue. the result of the forum discussion might be a concrete actionable and reasonable item then.

[2019-02-10 16:58] #398 closed

[2019-02-10 16:59] #410 closed

[2019-02-10 17:03] r10s commented on #453
related issue: https://github.com/deltachat/deltachat-android/issues/715

[2019-02-10 18:20] hpk42 commented on #697
On Sun, Feb 10, 2019 at 07:11 -0800, webratte wrote:

yes and no.  i can not help too much currently.
But i think google beta could happen the coming week ;)

[2019-02-10 18:23] webratte commented on #697
Hi @all
to motivate you I have created a initial draft forgerman wikipedia.
I think I will offer it to wikipedia after V.1.0 and 1000 downloads in play store.
So I believe we will have enough relevance and wikipedia will accept my article.

In the meantime everybody can help to refine and correct this aricle.

Please take a look to my draft:
https://de.wikipedia.org/wiki/Benutzer:Webratte/Artikele

[2019-02-11 08:32] nath5394 commented on #697
I do have a gplay dev account, if this could help you to release a beta and/or stable apk 😉

[2019-02-11 10:14] hpk42 commented on #697
On Mon, Feb 11, 2019 at 00:32 -0800, nath5394 wrote:

We'll only give out signing rights to people we personally know and
who have contributed already. So there is a possible future in which
you could sign deltachat releases ;)

[2019-02-11 12:54] stmllr commented on #713
- Platform (android/blackberry/anbox): Andoid 8.1.0
- Device: Motorola Moto G5+
- Delta Chat Version: 0.100.0

1614mAh after 1day, 20h usage, most of the time in standby, a single conversation with two messages during that timeframe.

[2019-02-11 14:57] r10s commented on #713
thanks for the concrete hints. this seems to be related to an - for whatever reason - unset SENT-folder.

as a workaround, for now, you can disable watching the SENT-folder at "Settings / Advanced / Watch Sent folder". this should avoid all the failed attempts.

as a fix, the core should check the SENT-folder more carefully and not try to read things from an unset folder.

[2019-02-11 19:04] Ji-eF commented on #715
AFAICT, LED color can be changed on Android 9

[2019-02-11 19:04] testbird commented on #398
Device clocks will always get adjusted and reseted. The problem occures just because the sorting timestamp is only cut-off (limits future dates) by the current system time, and not also by the sorting time of the last already received message (limits past dates).

I think this is about as actionable as a user reported, and repetedly confirmed issue can get. My clumsy pull request draft would of co

[2019-02-11 23:59] r10s commented on #398
for sure - therefore the discussion can continue in the forum.

it's just nothing the android-ui can do in this item imu.

and also for the core it's not _that_ clear, as the comments in this thread and in the pr - that raised other problems - pointed out.

[2019-02-12 00:04] r10s commented on #715
in the system settings? that would be cool. at least on my nexus4 with lineage android 8.1 this option is missing.

[2019-02-12 01:34] r10s commented on #651
key generation is described at: https://developer.android.com/studio/publish/app-signing#generate-key

[2019-02-12 10:59] #651 closed

[2019-02-12 12:48] testbird commented on #398
message time is in the future, Delta chat uses [a transient past] device time not [bound by the last] message time to [correctly] sort messages

[2019-02-12 16:46] Hocuri commented on #427
I like this idea, as well as the bigger round edit button.

From my experience, it is not just the emoji button, it is:
- The back button in the upper left corner
- The input message area (could be higher)
- The add photo, record voice message and emoji buttons

It is possible to tap all of them but it could be better, especially as there would be enough space around them. IIRC this was better in

[2019-02-12 22:24] r10s commented on #697
we're in:

installation, requires the browser to be logged into a google account:
https://play.google.com/apps/testing/chat.delta

common information:
https://play.google.com/store/apps/details?id=chat.delta

[2019-02-12 22:24] #697 closed

[2019-02-13 10:40] angelo-fuchs commented on #420
I can't reproduce this on my phone, someone else needs to pick this issue up.

[2019-02-13 11:23] g6094199 commented on #279
Tested:
Transfer Autocrypt Key from Enigmail 2.09 -> Deltachat 0.100 on Android AND Linux. Both worked successfully!

[2019-02-13 11:28] r10s commented on #279
@g6094199 great - thanks for testing :+1:

[2019-02-13 11:31] r10s commented on #473
there is still an issue with mailto links without addresses, however, i'll open a new issue for that.

[2019-02-13 11:35] r10s opened #716 "mailto:-links without address should work as "share""
while mailto-links with e-mail addresses work line a charme since https://github.com/deltachat/deltachat-android/issues/473, mailto:-links without e-mail addresses (sth. as `mailto:?subject=bla&body=blub`, used eg. on golem.de) currently do not work as expected.

these links open the contact list; once a contact is selected, however, the proposed text is gone.

i think these links should work in t

[2019-02-13 12:33] angelo-fuchs commented on #716
[Testlink](mailto:?subject=foo&body=bar) for easier testing.

[2019-02-13 16:31] r10s commented on #649
on my nexus4 with lineage-oreo, the screen is still shown shortly when the app is exited and started again without switching the device off in between.

[2019-02-13 16:37] angelo-fuchs commented on #685
Problem is somewhere here:
org/thoughtcrime/securesms/database/loaders/BucketedThreadMediaLoader.java:88

[2019-02-13 16:48] adbenitez commented on #420
Actually I recommend to close it, I just realized this is happening because my phone is a low mem device, when I minimize an app and open another, the minimized app is killed by the system to save RAM, this happens even if I disable battery optimization for that app, when I have an incoming call, the delta chat view is destroyed right away when the dialer activity is shown

[2019-02-13 17:23] r10s commented on #649
ahh, but with "screen security" also enabled, it works as expected for me  :)
makes some sense, maybe we should point the user in this direction.

[2019-02-13 17:40] angelo-fuchs commented on #685
Okay, now I have it figured out:
"Today" means "Last 24 hours"
"Yesterday" is the 24 hours before that
"This week" means "In the last 7*24 hours until yesterday"
"This month" is the same for 30 days.

I have to think about this.

[2019-02-13 19:22] adbenitez commented on #427
@Hocuri some friends also complained about the back button!!! I had not encountered this issue since I use my phone is back button instead of the app is button, also I think the add photo, record voice message buttons could have more padding but I didn't keep complaining about here because I think this touch problem is more related to UI unresponsiveness, since some times the buttons don't work ev

[2019-02-13 20:10] Hocuri commented on #427
This did never happen to me, it just took some time until DC reacted. Anyway, the touch areas could be bigger as can be seen at your screenshot: https://github.com/deltachat/deltachat-android/issues/427#issuecomment-451462213

[2019-02-13 20:46] r10s commented on #685
i would not change the wording, this is just fine. but we can define
- "today" as "today since midnight"
- "yesterday" as "yesterday between 00:00 and 24:00"
and so on.

"this month" being (from today) 13. Jan to 13. Feb is a bit weird.

[2019-02-13 23:31] r10s commented on #427
i think the back-button has system-size and style (both, the one in the navigation area and the one in the title bar).

[2019-02-14 00:10] r10s commented on #420
thanks for the hint with the low RAM, i think i've found the problem in the code:

we save the draft on onNewIntent() (we're reusing intents which may be another problem, see #419) and not in onPause().

@adbenitez i will do a pr to fix this and also attach an APK for testing to that

[2019-02-14 00:17] r10s commented on #419
yip, also have the feeling this is releated to always reusing the same activity and onNewIntent() which makes things a bit harder and unpredictable. cmp #420

[2019-02-14 00:19] adbenitez commented on #427
that is why I think it is more a unresponsiveness issue...

[2019-02-14 01:08] adbenitez commented on #420
wow thanks! :)

[2019-02-14 06:53] Hocuri commented on #427
I don't think so, in other apps the area is much bigger (see attached screenshots)

[2019-02-14 07:01] Hocuri commented on #427
I don't think so, in other apps the area is much bigger:
![sc_dc](https://user-images.githubusercontent.com/18012815/52768759-a9635900-302e-11e9-9223-19ccc86beaa6.png)
![sc_sf](https://user-images.githubusercontent.com/18012815/52768768-ac5e4980-302e-11e9-90fc-b85e0246d956.png)

[2019-02-14 10:21] r10s opened #720 "GlideApp...getI() must not be called from main thread"
got two crashes wrt notifications on nexus4/android 8.1/oreo

the crashes were assertions from the Glide module; saying "You must call this method on a background thread":
https://gist.githubusercontent.com/r10s/28ef216fad00e1e1fd467cac71daa804/raw/84bc8797f71e3aeda23083197302ff157b6a3378/gistfile1.txt

tracing back the log, it's probably [SingleRecipientNotificationBuilder.setThread()](https://gi

[2019-02-14 10:31] r10s commented on #720
another log with the same error: https://gist.githubusercontent.com/r10s/7ad00b262298e789a5d4721740387d25/raw/dca6c0695109b3d178ef1b9a7a6e84c6aab9f792/gistfile1.txt

[2019-02-14 12:43] r10s commented on #720
related: https://stackoverflow.com/questions/38670507/glide-error-java-lang-illegalargumentexception-you-must-call-this-method-on-a#38702691

[2019-02-14 13:36] angelo-fuchs commented on #720
I'll look into this.

[2019-02-14 14:05] r10s commented on #427
@Hocuri thanks!

[2019-02-14 16:22] r10s commented on #420
not totally sure if the pr fixes the problem, save-draft is also done in onDestroy() which should also be called in your low-ram situation.

[2019-02-14 16:52] Simon-Laux commented on #439
![screenshot_20190214-175042__01](https://user-images.githubusercontent.com/18725968/52802995-549cfe00-3081-11e9-8029-ea48a65283b4.jpg)

[2019-02-14 17:02] angelo-fuchs commented on #451
As I can't reproduce this on my phone I also can't fix it.

[2019-02-14 17:02] r10s commented on #720
i think MessageNotifier.updateVisibleThread() should be run from a thread or call updateNotifications() in a thread.

[2019-02-14 17:39] cytrinox opened #722 "All replies in INBOX are ignored by DeltaChat"
- Platform (android/blackberry/anbox): Android 8.1
- Device: BQ Aquaris X Pro
- Delta Chat Version: 1.0 Beta from playstore (12.02.2019)
- Expected behavior: Show replies to chats in DC
- Actual behavior: No reply is visible in DC but still in the imap INBOX

I've installed the beta from playstore for some tests.
After adding my imap credentials, I was able to send messages to friends. I've sent o

[2019-02-14 19:22] adbenitez commented on #420
it worked in one test, I will test this several times latter, but at first glance seems good!! +1

[2019-02-14 19:24] r10s commented on #420
great, thanks for testing, i think we can merge this then, should not hurt to save the draft a bit sooner.

[2019-02-14 21:36] angelo-fuchs commented on #722
I've read that one of your MUAs is Outlook. There have been discussions that this MUA might strip some headers (but I haven't tested it myself), so that might be an issue for that end.
The Mail headers you posted look fine so far, so I am someone stumped whats happening.

Thank you for sending me a direct DC message btw. I will look into it directly.

[2019-02-14 21:49] adbenitez commented on #420
bad news it didn't worked in further tests, perhaps was an error in my first test that I saved the draft accidentally.
Also did some tests with k9 mail and also drafts are lost, so it is not Delta Chat only, perhaps this don't worth your time.

[2019-02-14 22:17] angelo-fuchs commented on #722
Notes from the conversation:
postfix & dovecot in default installations on a stable debian.
Sent Mail from k9 is shown in DC (as "from myself")

Hypothesis:
DC listens to "wrong" folders for DeltaChat folder and Inbox...?

[2019-02-14 22:33] #720 closed

[2019-02-14 23:05] r10s commented on #420
hm, seems as if the foreground app is completely killed on the low-memory device when another app comes to foreground.

we were saving the draft in onDestroy() and the pr did the saving a bit sooner in onPause(), so it might be that it gets mitigated a bit, but, it's hard to work against the os wants to kill us ;(

i think if we get more reports on this issue, we can re-target it, maybe by saving

[2019-02-14 23:05] #420 closed

[2019-02-15 00:14] adbenitez commented on #420
yes, I am fine with this closed. If the OS is killing us lets just rest in peace ;)
(as a workaround I can avoid this by pressing the back button to force to save de draft before the app is put on background)

[2019-02-15 00:38] r10s commented on #420
as mentioned, if we encounter this being a more common problem, we can try work arounding this.
but as you mentioned, k-9 has the same problem, and also signal has it, so, it's more the os.

[2019-02-15 08:46] Boehrsi commented on #649
@r10s yep we should. Totally forgot to mention this. Only with screen security enabled (so disallowing screenshots) it is possible to hide to content completely. The reason is that a lot of device use the "screenshot" created for the app switcher as base when reopening the app. So the last state is shown while transitioning to the real app, before any onXYZ events of the Android lifecycle are kick

[2019-02-15 08:54] angelo-fuchs commented on #722
Notes from the conversation:
postfix & dovecot in default installations on a stable debian.
Sent Mail from k9 is shown in DC (as "from myself")

Hypothesis:
DC listens to "wrong" folders for DeltaChat folder and Inbox...?

@cytrinox Could you give me a test account on your system so I can investigate what DC does with it? I am pretty much stumped on whats going on actually.

[2019-02-15 09:08] Boehrsi commented on #644
While investigating #464 and #649 I tried to reproduce the issue and wasn't able to do that. I tried it with an older device and a Samsung S7. Both behaved just normal (the screen turns dark, but the lock isn't activated yet, so pushing the hardware on/off button just brings back the normal screen with the actucal content).
As already mentioned above we just request the system to show the lock scr

[2019-02-15 09:13] Boehrsi commented on #716
Will have a look :).

[2019-02-15 09:19] angelo-fuchs commented on #644
@adbenitez When you turn you device off in that scenario and then on again (sleep / wakeup; not power off / on) does the screen work as expected?
Can you use the Home Button on your phone to leave DC?
If so and you enter DC again after that, does the Screen show normal or blank?

[2019-02-15 09:22] angelo-fuchs commented on #715
I'm personally all for using the "Standart"-compliant way, but don't have a phone that has a sufficiently high droid.

[2019-02-15 09:33] angelo-fuchs commented on #675
Can't reproduce. Custom sound for all chats and for a single one works (in one case it only worked after ~2 Minutes of waiting, not sure why and couldn't reproduce that either.)

[2019-02-15 09:33] angelo-fuchs commented on #675
VtC

[2019-02-15 10:05] r10s commented on #716
great :)

[2019-02-15 10:36] Boehrsi commented on #716
Should be fixed by https://github.com/deltachat/deltachat-android/pull/724

[2019-02-15 11:13] angelo-fuchs opened #725 "Notifications are not cleared on display of chat"
Since #721 notifications are not cleared properly, it fixes #720 which was a high prio (crash) but we should make sure that notifications go away anyway.

Behavior:
1. A notification appears
2. I open the chat from chat overview
3. The notification stays

Expected behavior:
1. A notification appears
2. I open the chat from chat overview
3. The notification is cleared up.

[2019-02-15 18:08] afterconnery opened #727 "GIF sent from Gboard doesnt render"
Sending a GIF through the Gmail app (android) will work if the?GIF is sent as an attachment. It will not work if i send the GIF in the body of the email with Gboard.
![screenshot_20190215-052149](https://user-images.githubusercontent.com/10703247/52875437-566ace00-3122-11e9-9c2a-877b37d93811.png)
![screenshot_20190215-052145](https://user-images.githubusercontent.com/10703247/52875480-713d4280-312

[2019-02-15 20:43] adbenitez commented on #644
@angelo-fuchs  I do not turn off the device, the screen turns off itself, before the system locks the screen there are an interval when if you press the power button the screen turns on again without needing to unlock the phone, here is where Delta Chat, which was the foreground app, shows this black screen, as **it is delta chat**
**I can minimize de app** and keep working with my device which **

[2019-02-15 20:47] r10s commented on #727
@afterconnery great report, thank you very much :)

[2019-02-15 20:50] adbenitez commented on #644
@angelo-fuchs  report part 2:
when this happens and I minimize the app, when I go back to the app **the chat list is shown(unprotected)** even when I was inside a chat, then when I tap a chat the normal pattern screen is shown.

[2019-02-15 21:32] adbenitez commented on #644
actually  **part 2** is happening always when I minimize the app, not only when the black screen is shown!! I think I had already reported  this anyway... can't remember well...

[2019-02-18 07:38] Boehrsi commented on #644
@adbenitez it's Delta Chat which triggers the displaying of the screen, as the app requests the system to show the lock screen as soon as it's not in the foreground anymore. So as soon as the system gives the signal that the app is not shown anymore the lock gets applied (obviously with a kind of broken UI).

There is no need that the device starts locking itself in general, to apply the Delta Cha

[2019-02-18 12:05] adbenitez commented on #644
Daniel if as you say, the system is the one failing and Delta Chat just trigger the lock screen, and since this is only happening in my phone at the moment, I recommend closing this, at least until this happens to someone else.

[2019-02-19 07:39] Boehrsi commented on #434
I would look into that one on Friday :).

[2019-02-19 10:22] r10s commented on #434
great!

[2019-02-20 08:26] testbird opened #730 "X-Mailer version"
V0.10x seems to use a header like this:
**X-Mailer:** Delta Chat 0.39.1 for Android
May it actually refer to the a deltachat-core version and say so?

[2019-02-20 09:54] r10s commented on #730
yip, you're right.

there is already a pr at https://github.com/deltachat/deltachat-core/pull/576

[2019-02-20 16:33] adbenitez opened #731 "if not at the end of the chat, do not scroll down on new messages"
When I am on a group and people are actively posting, it is really hard to read at my peace while this new post come out, since the view is scrolled.
IMO if the scroll frame is not at the end of the chat, the frame should not be scrolled, since this makes messages really hard to read if they are constantly moving, it is stressing for users.

- Platform (android/blackberry/anbox): Android
- Delta C

[2019-02-20 16:39] adbenitez opened #732 "Group with 1 member not shown as group"
Seems like groups with 1 member aren't shown as group in the chats list, they still are groups, it is just that their 'group icon indicator' isn't shown in the chat list.

- Platform (android/blackberry/anbox): Android
- Device: BLU
- Delta Chat Version: 0.101.1
- Screenshot:
![group 1 mem](https://user-images.githubusercontent.com/24558636/53107997-3d886100-3504-11e9-8081-29b9caf5b841.png)

[2019-02-20 16:56] adbenitez opened #733 "weird messages showing up in Contact Request list"
I guess this system messages have something to do with autocrypt configuration that for some reason is changing for that users, if I had a chat with that contact this messages are shown there, but if I am in a big group it is the Contact Request view a good place to flood with a lot of this system messages???

- Platform (android/blackberry/anbox): Android
- Delta Chat Version: 0.101.1
- Screensho

[2019-02-21 07:31] Samamy opened #734 "Watch any folder"
Watching new message any or all imap folders ?

[2019-02-21 21:57] #730 closed

[2019-02-22 13:06] r10s commented on #734
delta chat watches the INBOX, Sent and DeltaChat folders for new messages.

each can be enable/disabled at Settings / Advances.

btw: not sure if this is a question or a feature proposal, however, both should go to the forum at https://support.delta.chat then

[2019-02-22 13:06] #734 closed

[2019-02-22 13:10] Boehrsi commented on #434
The general problem is that the Signal code base isn't able to handle multiple shared files at once and that's what some of the messengers do. I'm adjusting that.

[2019-02-22 13:12] r10s commented on #434
cool. as we do not have a method to stage multiple files, i think, as a quick-fix, it would be okay to ask the user "do you want to sent 3 files to _chat?_" after selecting a chat.

[2019-02-22 15:03] r10s commented on #722
might be related to https://github.com/deltachat/deltachat-core/issues/561

[2019-02-22 15:39] #649 closed

[2019-02-22 15:46] r10s commented on #644
also tried to reproduce this without success.

however, with chance, might be that this issue is fixed or changed in a way by https://github.com/deltachat/deltachat-android/pull/706 :)

[2019-02-22 16:18] #685 closed

[2019-02-23 04:41] webratte opened #738 "open vCard in contact app"
- Platform (android/blackberry/anbox): Android
- Device: Huawei nova
- Delta Chat Version: 0.101.1
- Expected behavior: open a attached vCard should always offer "open with the system contact app" to import this vCard.
- Actual behavior: the "system contact app" will only offered if the vCard include only a mail address. If there are more informations e.g. phone number or address included in this

[2019-02-23 11:39] phmarek opened #739 "Can't export key, bad "success" message"
- Platform (android/blackberry/anbox): Android, lineageos 7.1.2
- Device: i9300
- Delta Chat Version: 0.101.1

- Expected behavior:
Export works, no error message;
or export fails, error message

- Actual behavior:
when trying to export the private key DC tells me "successfully exported", but at the same time another popup says "Can't write to /sdcard...". So it looks as if the error code from ope

[2019-02-23 11:41] phmarek commented on #739
![](file:///tmp/Screenshot_20190223-123353.png)

[2019-02-23 12:41] r10s opened #740 "Check how unrecognized attachments are handled"
see https://support.delta.chat/t/unrecognized-attachments/279

iirc some older version (0.9somwhat) of  Delta Chat sent wrong mimetypes, might be related to that.

[2019-02-23 22:00] chklump commented on #740
I think, the #741 at least fixes the first part of the referenced forum thread.

[2019-02-23 22:45] r10s commented on #740
that was quick :)

[2019-02-25 15:56] adbenitez commented on #740
check https://support.delta.chat/t/unrecognized-attachments/279/5?u=adbenitez

[2019-02-25 19:11] adbenitez opened #743 "Draft lost if app is swiped out from the recent list"
If you are writing some message, then stop writing and minimize Delta Chat, then go to the recent list and swipe/close the app from there, the draft is lost!! this may be the cause of https://github.com/deltachat/deltachat-android/issues/420, seems like the draft is not saved in `onPause()`????

- Platform (android/blackberry/anbox): Android 6.0
- Device: BLU (RAM<500MB, low mem device)
- Delta Ch

[2019-02-25 21:04] r10s opened #744 "log should be reachable during onboarding"
i would suggest to add the "view log" button (as a blue link) to the end of the "advanced" section.

[2019-02-26 02:35] adbenitez commented on #744
this would be useful since server registration is a common place for errors, I had needed access to this log in the registration view more than once.

[2019-02-26 09:45] phmarek commented on #739
As an update: I could now export the key successfully - I guess that one the first try delta chat had just asked for the permission but didn't get restarted right away (so that the process has the required unix group); in the meantime I rebooted the phone, perhaps that's why it works now.

Still, the basic bug remains - a "success" message even if the export fails.

[2019-02-27 21:28] cytrinox commented on #722
My issue was that i use postfix local delivery, which looks into ~/.forward which I have configured as:

    "|/usr/bin/maildrop -d ${USER}"

and maildrop just creates a file in my ~/Maildir folder. Dovecot never get directly notified by new mails (maybe possible by inotify() or something, but I don't think that is a good solution).

While my maildrop config contains something like:

[code]

I've

[2019-02-27 21:28] #722 closed

[2019-02-27 22:04] r10s commented on #722
cool that you've figured it out :)

[2019-02-27 22:07] r10s commented on #731
i think this is related to https://github.com/deltachat/deltachat-android/issues/447 (
add "new message marker") - if the scroll position is _not_ the end and new messages arrive, the marker should be added just before the first new message (same as if eg. the screen is off in between or another app was active)

[2019-02-27 22:18] r10s commented on #716
should be fixed by https://github.com/deltachat/deltachat-android/pull/724

[2019-02-27 22:18] #716 closed

[2019-02-27 22:26] r10s commented on #446
also DecryptableUri seems to be superfluous

[2019-02-27 22:30] r10s commented on #446
the SignalGlideModule is for loading and processing images. it has some special meaning using the special annotation @GlideModule which is declared in gradle using annotationProcessor. rougly.

[2019-02-28 16:58] adbenitez commented on #447
is this implemented??? it was weird, but yesterday I have seen a dark marker and if I remember well a text saying the number of unread messages, but that is the first and only time I have seen this marker, it was kind of an illusion, please tell my I am not driving crazy!!!!

[2019-02-28 18:44] r10s commented on #447
afaik it's not yet implemented ;)

but maybe there is a hidden view that pops up only every 42 days or so for a fragment of a second :)

[2019-03-01 18:16] violoncelloCH commented on #447
![img_20190301_131250](https://user-images.githubusercontent.com/22591354/53657313-23622780-3c56-11e9-8da0-f8d6d8dd3797.png)
@adbenitez are you talking about this thing?
It's strange, because it appeared above a message I sent myself... and I sadly don't know how to reproduce, but at least I've been fast enough to take a screenshot when it appeared the second time...

[2019-03-01 18:52] adbenitez opened #748 "received .webp image are not shown"
Some friend started sending me some stickers images with extension .webp, the received images are not shown as images in Delta Chat but as attachments, but if I take one of those images and send it, they are shown as normal images (with preview)

- Platform (android/blackberry/anbox): Android
- Device: BLU
- Delta Chat Version: 0.101.1

[2019-03-01 19:19] adbenitez opened #749 "[UX] Delta Chat is not userfriendly if date is wrong"
I had experimented time ago some troubles when for some reasons the date of my phone was wrong (ex. after a factory reset) in such situation after some minutes of total confusion, messages I was sending where not show in the chat view, until I realized it was the date was wrong, some friends had experimented the same issue and I had to send an SMS explaining them they have the date wrong because t

[2019-03-01 22:37] adbenitez commented on #447
violoncello I am "offline" could you send the image to adbenitez@nauta.cu ??
I was so amazed that I could not take the screenshot, also this happened only once to me.

[2019-03-02 00:16] r10s commented on #447
@violoncelloCH thanks, interesting, so it's already there, but just not displayed accordingly

@adbenitez so you were not dreaming or driving crazy but you have very good eyes :)

[2019-03-02 09:21] hendi opened #750 "Can't login when username contains an @"
- Platform (android/blackberry/anbox): Android
- Delta Chat Version: v0.101.1

My email address is "info@example.com", and I enter the IMAP and SMTP credentials manually. I have to logiin with my full email address and entered that as IMAP login. But I get an error message saying that "info" couldn't login.

This is correct, since I must login as "info@example.com", not as "info".

It looks like t

[2019-03-02 11:25] r10s commented on #750
hi @hendi only if `info@example.com` does not work, the domain part is stripped and the part before the `@` is tried.

so, maybe something else is wrong with the server settings?

[2019-03-02 15:24] hendi commented on #750
Thanks, I used the wrong password.

Maybe put the information in the dialog in this case? E.g.:

"Could login with info@example.com (maybe wrong password?), trying login with info instead... that failed as well."

[2019-03-02 17:47] r10s commented on #750
yip, we should check if we can be more clearer here. i've opened an issue for that, see https://github.com/deltachat/deltachat-core/issues/594, closing this one.

[2019-03-02 17:47] #750 closed

[2019-03-04 07:10] florianhaar commented on #744
I will tackle this today

[2019-03-04 15:42] Boehrsi commented on #434
I'm nearly done with that one. Just the permission handling for required cases and some string adjustments are missing.

[2019-03-04 15:57] adbenitez commented on #743
in this situation, k9 do save the draft.

[2019-03-04 16:29] adbenitez opened #753 "[UI] Selecting all contacts but counter still not updated"
When I press one contact to start selecting them the selection mode is enabled, the contact is selected and the counter is in 1, then I go to the options and press "select all" all contacts are selected but the counter is not updated and remains '1' if I deselect a contact then the number is updated properly.

- Platform (android/blackberry/anbox): Android
- Device:BLU
- Delta Chat Version: 0.101.

[2019-03-04 18:13] adbenitez opened #754 "Unused "New chat" option on groups's profile"
When you go to a groups is profile view there are an option called "New chat", for a contact this bring you to they active 1x1 chat or create it if it doesn't exist. but for groups this option seems not to have much sense, currently the option does nothing on click/tap for groups, so even if it was there intentionally, it doesn't work.

- Platform (android/blackberry/anbox): Android
- Device: BLU

[2019-03-05 08:57] Boehrsi commented on #434
Did the last adjustments and will now test if everything is working fine. This ticket should definitely be ready this week.

[2019-03-05 23:12] r10s commented on #743
for me, the draft is saved.
again, it seems that onDestroy() is not called because of low memory.

[2019-03-05 23:13] r10s commented on #743
wrt k9, well might be that the draft is saved under different circumstances or that the app was just not killed, maybe it consumes less memory in total or so.

[2019-03-06 01:08] adbenitez commented on #743
DeltaChat isn't killed! if I minimize DeltaChat and go back to it the app is resumed from where it was in the chat with the draft still there, for some reason dc isn't saving the draft when I minimize it, the app isn't destroyed until I do it manually swiping out the app from the recent list, k9 save the draft as soon as I minimize the app (a toast is shown saying that the draft was saved)
(my sys

[2019-03-06 01:21] adbenitez commented on #743
if it is easy to do, I can test a debug apk which print a toast on screen when the draft is saved to test this on my device, if you think this isn't worthy I am ok if you close this issue :)

[2019-03-06 01:22] adbenitez commented on #743
I mean, if it easy to you to provide such apk to me, I can't compile it by myself atm :(

[2019-03-06 09:21] r10s commented on #743
i think it's worth some tries, however, just now, me personally is not up for that :)

[2019-03-06 10:23] r10s commented on #434
cool :)

[2019-03-07 17:59] Hocuri opened #756 "show a hint that qr-verification cannot be done without network"
- Platform (android/blackberry/anbox): Android
- Device: Moto G3
- Delta Chat Version: 0.101.1
- Expected behavior: The verified key should be transferred on the next internet connection
- Actual behavior: DC tries to transfer the key instantly, which doesn't work. To continue using Delta Chat you need to press "Cancel".
- Steps to reproduce the problem: Scan a QR invite code without internet

[2019-03-07 18:02] Hocuri opened #757 "QR verification: No "Verified" sign shown for existing contact"
- Platform (android/blackberry/anbox):
- Device:
- Delta Chat Version:
- Expected behavior: Show a "Verified" sign
- Actual behavior: No "Verified" sign (checkmark on blue background) is shown in the Chats list or in the 1:1 chat activity, just in the contacts list (when pressing the Floating Action Button)
- Steps to reproduce the problem: Scan an existing contact's QR code

[2019-03-07 18:08] r10s commented on #757
1:1 chats are no verified chats as also messages with other or no keys show up here. therefore they do not have a verification mark.

however, you can create a verified group with a single verified member - which will have the verification mark then.

[2019-03-07 18:15] r10s commented on #756
i'd say this is by design, at least for now.

the verification is not only about transferring a key but also about receiving the key of the other side and about knowing that the other side knows that you have the key. this requires a network connection.

even if we could delay this in a way, there would be no clear verification result after scanning and it would be confusing ux-wise when and if yo

[2019-03-07 18:37] Hocuri commented on #756
Well a dialog "No Internet connection. The contact will be verified when you are connected again" could appear.

[2019-03-08 09:10] florianhaar commented on #455
I will look at this

[2019-03-08 09:23] Boehrsi commented on #754
Makes sense, I would say we just hide it for groups. Also fine for you @r10s?

[2019-03-08 09:24] gitlerat opened #760 "Create adaptive icon"
Hi,
i want to make an adaptive icon for deltachat, but I need to know which font is used for the delta symbol on the launcher icon.

additional infos:
https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive
https://romannurik.github.io/AndroidAssetStudio/

[2019-03-08 09:24] Boehrsi commented on #753
Will look into that one right now :).

[2019-03-08 13:38] r10s commented on #756
might be that the qr code is not valid "forever", so this is not really an option.

so, at least for now, network is required during out-of-band-verification :)

[2019-03-08 20:52] Hocuri commented on #756
Do you mean that the keys change, e.g. after reinstalling DC? Or that they dynamically change?

[2019-03-08 21:04] r10s commented on #756
currently, the qr codes are more or less static to make testing easier (it's still an experimental feature!), however, there are ideas that the qr-code shown is only valid for a short period of time, say one minute.

in this case the out-of-band-verification needs network anyway.

to keep us the option in the future and to make things easier, it's seems to be appropriate to keep the network requir

[2019-03-08 21:15] BachUhr commented on #756
But at the moment there is no notification or sth. like this, so it is not obvious that the verification cannot be done.
This is confusing too, maybe there could be a notification so that the user knows that an internet connection is necessary.

[2019-03-08 21:29] r10s commented on #760
hi @gitlerat an adaptive icon would be great! :+1:

the font is just times new roman, the inkscape-file is the following:

[delta-v7(requires-times-new-roman).zip](https://github.com/deltachat/deltachat-android/files/2947473/delta-v7.requires-times-new-roman.zip)
(the original logo is at https://github.com/deltachat/interface/blob/master/icons/delta-v7-pathed.svg)

when touching this: i'd keep the

[2019-03-08 21:31] r10s commented on #756
yip, this is something we should target.

[2019-03-09 11:15] Hocuri commented on #756
We can continue the discussion here: https://support.delta.chat/t/additionally-keep-static-qr-codes-for-offline-out-of-band-verification/301

[2019-03-09 15:01] r10s commented on #744
@florianhaar thanks again, this can be closed by https://github.com/deltachat/deltachat-android/pull/758 now :)

[2019-03-09 15:01] #744 closed

[2019-03-09 17:54] r10s commented on #434
closed by https://github.com/deltachat/deltachat-android/pull/759 - @Boehrsi great job! and of course, my initial comment - "should not be that hard." - was wrong in the end :)

[2019-03-09 17:54] #434 closed

[2019-03-09 18:31] adbenitez commented on #434
@Boehrsi  +1

[2019-03-10 15:28] r10s opened #762 "sharing links crashes"
to reproduce: share a link eg. from Firefox Focus to Delta Chat.

this bug was introduced by merging https://github.com/deltachat/deltachat-android/pull/759 and is not yet released.

[2019-03-10 15:33] r10s opened #764 "sharing mailto: links stops working"
mailto: links are added with https://github.com/deltachat/deltachat-android/pull/724/files, however, they stop working with https://github.com/deltachat/deltachat-android/pull/759

this bug was introduced by merging https://github.com/deltachat/deltachat-android/pull/759 and is not yet released.

[2019-03-10 16:00] r10s commented on #757
discussion can continue in the forum, for now, here is no actionable item.

[2019-03-10 16:00] #757 closed

[2019-03-11 12:25] #762 closed

[2019-03-11 12:27] #764 closed

[2019-03-15 11:00] Jikstra commented on #439
<Fist of Satan> I think the dark theme is hard on the eyes (it is hard to distinguish the cursor or text selections from the background). And transparant status bubbles (date etc.) might be not a good idea with custom backgrounds (images).

![EmymyewDcOuPoRpbLWYeLuFr](https://user-images.githubusercontent.com/34889164/54427151-f0ba3380-4719-11e9-9673-e4effdde7d71.jpg)
![EhNoaNDNcTrEQYhSZhlVDcAB](h

[2019-03-15 12:40] r10s commented on #753
fixed by https://github.com/deltachat/deltachat-android/commit/959e007e391f57fc4046fe17b63e8916d4dbe495 - thanks :)

[2019-03-15 12:40] #753 closed

[2019-03-15 12:48] r10s commented on #754
tested https://github.com/deltachat/deltachat-android/pull/766 and it works as expected. thanks - also for the again excellent report :)

[2019-03-15 12:48] #754 closed

[2019-03-15 12:56] Boehrsi commented on #748
I will have a look why this behaves wrong.

[2019-03-15 16:19] adbenitez opened #768 "Forwarding message with [...] sections doesn't share the content but the string "[..]""
When forwarding in Delta Chat a message like:
[code]

The original message's content isn't forwarded, instead it is sent the text that is shown in Delta Chat is message bubble:
[code]

- Platform (android/blackberry/anbox): Android
- Device: BLU
- Delta Chat Version: 0.200.0
- Expected behavior: the original content of the message is delivered, including lines starting with '>'
- Actual behavior:

[2019-03-15 16:24] adbenitez commented on #768
not sure if this is handled by Android or by Core??

[2019-03-15 19:52] r10s commented on #768
it is handled in the core and it affects only non-delta-to-delta-communication

however, i think this is okay-ish as it is now - forwarding things that are not on the screen "in the bubble" is somewhat unexpected or would at least raise different, maybe larger problems. imagine users forwarding things they've not even seen on their own. i would not go to this direction.

however, maybe the truncat

[2019-03-15 20:22] webratte commented on #768
What about instead the [...] show a text like:
 "There is a hidden content. Longpress ->info to show the hidden text".

[2019-03-15 20:36] adbenitez commented on #768
if this is the intended behavior, please fill free to close (I am offline)

El 15 de marzo de 2019 15:52:27 GMT-04:00, "björn petersen" <notifications@github.com> escribió:

[2019-03-15 20:39] adbenitez commented on #768
webratte or just "show more" but well I guest that will suit better a forum feature request

El 15 de marzo de 2019 16:22:58 GMT-04:00, webratte <notifications@github.com> escribió:

[2019-03-15 21:28] r10s commented on #768
yip, it's the intended behavior, this should be shifted to the forum.

[2019-03-15 21:28] #768 closed

[2019-03-16 18:57] nicodh opened #769 "Questions (bugs?) regarding location streaming"
I installed the .apk @r10s provided. If I install it I see the new "On-demand location streaming" setting. I see the map icon in chats. But even with enabled location streaming and switching between different users I see no marker on the map. I also don't see an option to close the map. I have to go to the home screen (with hardware button) and then can switch to deltachat again.

When I chat from

[2019-03-16 21:31] r10s commented on #769
not yet. it's not even alpha :) some hints:

- you see only the location of group members who share their own location
- to share ones location, click the "attach button" (the paper clip right of the message field) and select location
- currently, locations are collected and the last location is sent together with normal messages. this location is shown on the map (this is currently about to be im

[2019-03-17 11:12] webratte opened #770 "Missing push notifications for Android 4.2"
- Platform (android/blackberry/anbox): Android 4.2
- Device: Samsung Mini S3
- Delta Chat Version: 0.200.0 (Gplay version)
- Expected behavior: Push notifications are shown on incoming messages
- Actual behavior: No Push notifications
- Steps to reproduce the problem: Receive a message and see there is no push notification

[2019-03-17 11:45] webratte commented on #770
I also register long delays (up to 10 min.) on my phone
(Huawei nova- Android 7.0
Delta Chat Version: 0.200.0 (Gplay version)

This behavior (IIRC) was not on the previous version

[2019-03-17 15:03] adbenitez commented on #770
Also I have detected some issues with notification, ex. some times when I am in a chat, there are no notifications until I go back to the chat list and it comes out I have lots of new messages in several chats.
I will report other buggy behaviors when I get Internet access

[2019-03-17 16:19] bokf commented on #422
Sent one Video ... 570 MB new in the Mailbox ...
DeltaChat shows just one message. Strange, that this happens only to me.

![video](https://user-images.githubusercontent.com/25562831/54494247-78e63780-48d8-11e9-9266-bf49e7ea99ae.png)

[2019-03-17 16:45] webratte commented on #422
I have just tested it.
For me it works as expected.

Maybe you should offer a few more informations like:

- device model
- Android version
- Delta Chat version
- Steps to reproduce

And if possible a log file.

[2019-03-17 17:31] bokf commented on #422
Device is Samsung S7
Lineage OS 14.1
DeltaChat v0.101.1
The video was opened and then sent using the share function.

btw it is still trying to send after 5h although it has been sent successfully according to receieved emails.
The log is really long and I dont know how to attach a txt file here. But what I find in the log is the following:
...
03-17 17:50:19.791  5479  5499 W DeltaChat: SMTP fail

[2019-03-17 18:43] adbenitez commented on #422
YESSSSSS!!
this had happened to me also, several times!! because my network is slow and unstable, in my case had happened with somewhat small images, the self-copy arrives to my inbox so I know the message was sent, but in deltachat the message is permanently in sending state, the only solution I found was to delete the message and restart deltachat, also I think I saw a toast with an error messag

[2019-03-17 21:51] r10s commented on #511
the keysize seems to have a rather large impact: 3072bit key generation took about 60 seconds, 2048bit only about 10 on a "slow" nexus 4

[2019-03-20 17:42] testbird commented on #770
Confirming, not sure if the v0.200 update was already there.

[2019-03-21 00:30] csb0730 opened #772 "self recorded voice-messages cannot be replayed"
Recently replaced v0.15.0 of DC at a friend by v0.200.0.

Steps done:
- export backup
- delete v0.15.0
- install v0.200.0 from Google Play
- import backup
- change email address to new one

after that tried voice-message recording (v0.15.0 worked fine)

- Delta Chat Version: v0.200.0 Google Play
record a voice-message and send it.

- Expected behavior:
If pushing on it should be replayed again.

-

[2019-03-21 11:11] stmllr opened #773 "CI apk builds"
To improve testing, we could build apk development snapshots using CI services, e.g. travis, circleci, ...

[2019-03-21 13:14] adbenitez commented on #773
I have been dreaming with this for a while +1
this will be really useful

[2019-03-22 09:45] Boehrsi commented on #748
I tried to reproduce that and on both devices (Android 8.0 and 4.4) I wasn't able to reproduce that problem. Does that still happen in version 0.200.0?

[2019-03-22 09:46] Boehrsi commented on #732
Will have a look right now.

[2019-03-22 12:30] Boehrsi commented on #463
The commit fixes the problem, but sadly only for newly imported / loaded contacts. @r10s is there a way to import contacts again or to reload the contact images?

[2019-03-22 19:17] adbenitez commented on #748
just sent one image to a friend and he sent back an screenshot with the image shown as attachment, while I sent it and from the sender side looks normal, both use Delta Chat 0.200.0
if you wanna test, send a webp to me: adbenitez@nauta.cu

[2019-03-22 19:18] adbenitez commented on #748
preferible something small like the image I used for the test: https://github.com/chai2010/webp/blob/master/testdata/2_webp_a.webp

[2019-03-22 22:51] abasifreke50 opened #778 "Suggestions to include a data and storage feature"
I have used the Delta chat application for quite some time now, and I'll love to make a suggestion.

Going through the Delta application, there's no feature called the data and storage feature. I believe it will be good to have this feature on the delta chat application.

#### What is Data and storage usage feature ?

Well I thought of this feature today while conversing with my friend tobi. We we

[2019-03-23 00:02] abasifreke50 opened #779 "Add automatic media download"
I have used the Delta chat application for quite some time now, and I'll love to make a suggestion.

Going through the Delta application, there's no feature called the automatic media download. I believe it will be good to have this feature on the delta chat application.

What is automatic media download  feature ?

Well I thought of this feature today while conversing with my friend tobi. We were

[2019-03-23 00:59] hpk42 commented on #779
Hello @abasifreke50 -- there are some considerations on how to organize media storage between people in a chat group.  Not sure it's exactly what you are asking for. In any case please rather discuss on the forum (https://support.delta.chat).  With this github issue tracker here we track concrete development activities or bugs, but not high level features.

[2019-03-23 00:59] #779 closed

[2019-03-23 01:01] hpk42 commented on #778
I think this is a duplicate of https://github.com/deltachat/deltachat-android/issues/779#issuecomment-475825687 ? Also closing this issue here as it better goes to the support forum.

[2019-03-23 01:01] #778 closed

[2019-03-23 04:03] Hiboycubano commented on #437
I does not see this before but let me tell that in my area (Cuba) we are not a few using android 4.1 and getting a new phone is not easy(money).
And right now Delta Chat is spreading well.

So, raising the target SDK without a real need may affect a lot of users

Thanks

[2019-03-23 04:17] adbenitez commented on #437
Yes, recently I realized that exists some people using old Android versions like Android 4.1, and the fact that Delta Chat is compatible with 4.0 turned out to be a really nice feature.

[2019-03-23 05:40] webratte commented on #778
Hi,
similar things I suggested already in the forum:
https://support.delta.chat/t/ideas-for-image-compression-feature/313

Maybe the discussion should go on here.
Devs read in the forum. Maybe they will also think it's import and pick it up 😉

[2019-03-23 17:40] r10s commented on #463
no, afaik, there is no way to re-import without putting much more effort in the issue. i'd say it's the fix is fine and reasonable. thanks :)

[2019-03-23 17:40] #463 closed

[2019-03-23 17:43] r10s commented on #732
great, thanks for fixing :)

[2019-03-23 17:43] #732 closed

[2019-03-24 03:29] Hiboycubano opened #782 "¿Random? crashing behaviors"
In normal use after the upgrade from. 101.1 to 0.200 and even in new installations of the last one, the ap shows some apparently random crashing.
The long is just from my phone in which the are just a few crashes, but friends reports continuously crashing.

device=samsung SM-G570M (on5xelteub)
android=8.0.0 (G570MUBU3CRK1, R16NW.G570MUBU3CRK1)
sdk=26
memory=4M (0.86% free, 512M max)
memoryClass=12

[2019-03-25 00:21] cyBerta commented on #769
@nicodh is it ok, to close this question? The last days location streaming has been improved and we talked about this feature in person.

[2019-03-25 00:26] cyBerta commented on #770
@adbenitez This is a feature, not a bug. Remember https://github.com/deltachat/deltachat-android/issues/451?

[2019-03-25 01:14] adbenitez commented on #770
Hi @cyBerta, I think this behavior solves the problem of annoying notifications while in a chat, but the real bug is: I don't get the silent dc icon on the top bar so I know I have a new message, and also when I go back to the chats list, a annoying notification is still shown, blocking the view of the first chat which is one with new messages.

[2019-03-25 05:14] webratte commented on #770
But absolutely no notification is a bug, not a feature.
This was my initial report 😉

[2019-03-25 06:51] nicodh commented on #769
yes

[2019-03-25 06:51] #769 closed

[2019-03-25 22:27] adbenitez opened #784 "Random? invisible notifications"
I had experimented like 3 times for now, a random invisible notification from Delta Chat, the notification is like shown but the actual notification dialog is invisible, to show this more graphically I had bring this screenshots with me. My guess is that this has something to do with the new way to do this with "channels".

- Platform (android/blackberry/anbox): Android 6.0
- Device: BLU
- Delta C

[2019-03-25 23:02] adbenitez opened #785 "Fordwarding a message repeats date tag"
When I forward a message the date tag is repeated, look at the screenshot for a more visual feedback.

- Platform (android/blackberry/anbox): Android 6.0
- Device: BLU
- Delta Chat Version: 0.200.0
- Screenshots:
![fordwarding](https://user-images.githubusercontent.com/24558636/54959766-829f1900-4f30-11e9-96b5-26da12384330.png)

[2019-03-25 23:05] adbenitez opened #786 "Notification isn't removed until leaving chat"
When I receive a message, if I tap in the notification to go to the chat, or if I manually open the chat, the notification isn't dismissed, it stays there until I go out of the chat, to the chats list.

- Platform (android/blackberry/anbox): Android 6.0
- Device: BLU
- Delta Chat Version: 0.200.0

[2019-03-25 23:19] adbenitez commented on #439
"invite a friend" view is not changed in dark mode

[2019-03-25 23:31] adbenitez opened #787 "Painting image with the pincel in the editor isn't working on some devices"
This bug report was made by a friend:

- Platform (android/blackberry/anbox): Android Oreo 8.1
- Device: Samsung Galaxy J7 Pop
- Delta Chat Version: 0.200.0
- Expected behavior: Select the brush and paint some lines
- Actual behavior: When trying to paint with the brush nothing is painted
- Steps to reproduce the problem: This don't happens in all devices
- Screenshots:
After trying to paint with

[2019-03-25 23:46] adbenitez commented on #602
this is still an issue, we(Cuba) are sometimes experimenting long delays in sending with DC, the only way to avoid them is to restart the app and it is quickly sent

[2019-03-25 23:47] adbenitez opened #788 "Sometimes sending a message is taking forever when it actually was sent!"
Sometimes while sending a message, apparently due to instabilities in the network, the message is sent (I receive the self-bcc copy) but Delta Chat still keeps trying to send the message always failing to do so.

- Platform (android/blackberry/anbox): Android 6.0 (and other people had reported the same problem)
- Device: BLU
- Delta Chat Version: 0.200.0
- Screenshots:
![Screenshot_20190311-204914

[2019-03-26 03:39] nutpantz opened #789 "how to turn off oauth or whatever"
The newest android update has stopped dela chat from working.
Everything worked fine before, now all I get is an error from the Google server.. What do I have to turn off so it works just as before with just a username and password? And no dont point me to info on setting up Google for oath or any 2fa junk.

[2019-03-26 10:31] r10s commented on #782
hi @Hiboycubano thank you for your report.

following the report, the crash is in `dc_imap_delete_msg()` which is only executed after either
(1) a message is deleted manually via a long click or
(2) during a verification.

as the deletion on the imap-server may be delayed for various reasons, this may look random in a way.
maybe you can reproduce the error with these information?
this would be hel

[2019-03-26 11:37] r10s commented on #789
oauth2 is not used automatically for already configured accounts.

so, you can hit "cancel" when being asked if you want to use oauth2 and enter the normal credentials.

no actionable item, so this is closed for now. discussion on that can be continued at https://support.delta.chat/

[2019-03-26 11:37] #789 closed

[2019-03-26 11:53] r10s commented on #449
moving this to core, there is not much android can do on this behavior currently.

[2019-03-26 11:55] r10s commented on #786
isn't that a duplicate of #725?

[2019-03-26 11:57] #644 closed

[2019-03-26 12:02] r10s commented on #437
okay, i have the same feeling.

also, there is currently no need to refactor code or so, so we can just leave the minSdkVersion for now.

however, imo it is totally fine if these old versions do not get support for some new features as map-view or video-recording if it turns out that the used libs have some higher sdk-requirements.

[2019-03-26 12:02] #437 closed

[2019-03-26 12:06] #446 closed

[2019-03-26 12:08] r10s commented on #429
i think, there is no need to invite people where the email-address is already known.
you can just start chatting with them.

[2019-03-26 12:13] r10s commented on #785
might be related to https://github.com/deltachat/deltachat-android/issues/419

i also think, the share/forward list is not updated after sharing/forwarding. this definitely needs some more love :)

[2019-03-26 12:37] hpk42 commented on #429
On Tue, Mar 26, 2019 at 12:08 +0000, björn petersen wrote:

Let's drop the "invite" menu entry. Each outgoing
message contains a link to delta.chat, that's enough.

We specifically advertise that people can use any e-mail
address and, if anything, i'd rather introduce a descriptive text/graphic
to this effect when the initial chatlist view is empty (or almost empty).

Maybe directly entering/pasti

[2019-03-26 12:52] r10s commented on #429
the "invite friends" is mainly for contacting people where the email address is _not_ known.

just saying, in general, i also think  we can drop the function at all :)

[2019-03-26 13:30] hpk42 commented on #429
On Tue, Mar 26, 2019 at 05:52 -0700, björn petersen wrote:

ah right, forgot that you can use TG/signal/whatsapp for invitations --
but as discussed between us, those users can not join as easily as they
can with the mobile number-based messengers.

disabling it and seeing if there are folks missing it is a good move IMHO.

[2019-03-26 13:39] nutpantz commented on #789
It must be used automatically because I can no longer connect to my account with delta chat

On March 26, 2019 4:37:09 AM PDT, "björn petersen" <notifications@github.com> wrote:

[2019-03-26 16:06] r10s commented on #789
can you please check if auth2 is really enabled at "settings / my profile (click on your name) / password and account settings / advanced / authorisation method" - if so, you can disable it there and use the normal login.

[2019-03-26 16:11] nutpantz commented on #789
Authorisation method is either "automatic" or "oath2".  There is no off.
I'm going to have to blow this thing off and start fresh..
How can there be no "off"?

On March 26, 2019 9:06:29 AM PDT, "björn petersen" <notifications@github.com> wrote:

[2019-03-26 16:14] r10s commented on #789
as there must always be an authorisation, "off" does not really makes sense.
automatic is just fine :)

[2019-03-26 16:15] r10s commented on #429
closed by https://github.com/deltachat/deltachat-android/pull/790

[2019-03-26 16:15] #429 closed

[2019-03-26 16:17] nutpantz commented on #789
Well it can't be just fine, because I can't log in anymore after using delta chat for over a year with this account. If I didn't have my keys backed up into pgpkeyring and k9mail I would have no access to my account and everyone I talk to on delta chat.

On March 26, 2019 9:14:47 AM PDT, "björn petersen" <notifications@github.com> wrote:

[2019-03-26 16:22] r10s commented on #789
fine in the sense that the app will ask whether to use oauth2 or not.

[2019-03-26 16:25] nutpantz commented on #789
It's not asking, and I can't get in... So either the setting does not work, or "automatic" does not work.
Either way.. I have to disagree with your use of the term "fine"
I'll disable delta chat and hope the next update fixes this issue.

On March 26, 2019 9:22:20 AM PDT, "björn petersen" <notifications@github.com> wrote:

[2019-03-26 16:30] hpk42 commented on #789
On Tue, Mar 26, 2019 at 16:25 +0000, nutpantz wrote:

still i think that "automatic" does not make much sense here -- OAUTH2
is also kind of automatic.  Maybe bettter "oauth2" and "manual credentials"?

Let's try to find a way so that @nutpantz can get access
to his account again. It's understandably very frustrating to have used it for
one year and then being shut off.

@nutpantz: could you make

[2019-03-26 16:36] nutpantz commented on #789
Its in automatic now. I've tried using a backup with the new version and I've tried down grading to the last version restoring backup and updating. I've switched from auto to oath and back not more a few times. All are no go. One of my chat buddies had the same problem but he was able to restore a backup up get back working again. I'm to frustrated with it right now up even look at it any more..
B

[2019-03-26 16:57] r10s commented on #789
i've just tested creating a new gmail account with both, "oauth2" and "normal" (the latter requires to enable "less secure apps") - it worked for me.
so at least, it does not seems to be a general issue.

[2019-03-26 17:35] nutpantz commented on #789
It's like I said, a buddy was able to get his to work after oath2 was on after updating, but I'm stuck for some reason.. With no way to force it off. If I have up I'll start fresh, but that is a massive pain.
I know the account works fine because k9mail still checks it and I can still read and write mail from k9mail. But k9 mail was my back up for delta chat after I pushed a lot of people to adopt

[2019-03-26 18:21] adbenitez commented on #786
yes, this is a duplicate, sorry didn't find that issue,
closed in favour of #725

[2019-03-26 18:21] #786 closed

[2019-03-26 19:17] Hiboycubano commented on #782
Well ... not sure if this can be repetition of the same mur here is the log from other mobile phone
In this phone the us sure a crash every time a group message arrives

device=TCT ONE TOUCH 4033X (Yaris_M)
android=4.2.2 (v2AM2-0, Jelly Bean)
sdk=17
memory=20M (33.76% free, 128M max)
memoryClass=96
host=perso-123
applicationId=com.b44t.messenger
app=Delta Chat 0.200.0-fat

deltachat_core_version=v

[2019-03-26 20:57] hpk42 commented on #789
On Tue, Mar 26, 2019 at 16:57 +0000, björn petersen wrote:

@r10s did you test going back from oauth2 to normal?

[2019-03-26 21:19] r10s commented on #789
just tested it now - works as expected. of course, one has to enter the correct account password in this case (when "less secure apps" are enabled - otherwise, if 2fa is enabled, the generated application password)

[2019-03-26 23:55] adbenitez commented on #789
your issue seems to be a bug I had that a message is sending forever abd I was having this error, you must to find that message and delete it and restart the app, that worked for me

[2019-03-27 00:32] csb0730 opened #792 "handle own avatar independently from local device's address book"
In the moment there is an inconsistent handling regarding avatar thumbnails.
- For groups it's handled independent from local address book. Simply choose a picture in group settings from galery and that's it.
- For single chats own avatar isn't to be changed in chat's settings. Only by defining a picture at devices address book lets you change avatar.

It should be possible to set an individual av

[2019-03-27 07:44] Boehrsi commented on #748
Okay, thanks for the information. I will continue testing with your test images on Friday. :+1:

[2019-03-27 09:16] r10s commented on #792
yip, this is a known issue, see https://github.com/deltachat/deltachat-core/issues/444.

in fact, the core already offers the needed api-functions ([dc_set_config("selfavatar")](https://c.delta.chat/classdc__context__t.html#aff3b894f6cfca46cab5248fdffdf083d) and [dc_get_profile_image()](https://c.delta.chat/classdc__contact__t.html#a2ebee8ac3729e4db85041eaf35bfce73)) and they are also already used

[2019-03-27 09:16] #792 closed

[2019-03-27 09:38] r10s opened #793 "crash in mapbox"
@cyBerta got the following crash by just opening the map using the map_filtering_2 branch. device is my nexus4 with android8.1/lineage

[code]

[2019-03-27 09:48] r10s commented on #793
crash again (see below).

this crash is from the current master.

and the map is very slow with the markers on it - while being very responsive without.

@cyBerta iiuc, drawing of tracks and pins takes place in layers; this seems to slow down things.
maybe we can do this onscreen? this would flicker a bit more, however, also the whole map is drawn onscreen and flickers a bit while drawing.

[code]

[2019-03-27 10:41] r10s commented on #793
one problem might be that the stuff has to be executed in the ui-thread,
eg. the used EmojiTextView crashes with a failed asset at https://github.com/deltachat/deltachat-android/blob/91be337fb68cb75712c64a3d01b94409329af675/src/org/thoughtcrime/securesms/components/emoji/parsing/EmojiPageBitmap.java#L39 :

[code]

[2019-03-28 08:46] testbird opened #795 "file/photo can not be shared/forwarded to a new contact"
- Delta Chat Version: 0.200

Looking at a photo gallery app I wanted to share a picture with the person standing next to me.

Then I tap on "share" and select "Delta Chat", but it won't let me enter the new email address.

There is no "entry bar" at the top, and no "new group" button, like on the normal "new chat" screen that allows selecting from the address book **and** creating a new address (g

[2019-03-28 09:59] r10s commented on #795
yip, in general, i would suggest to use the normal chatlist-activity for selecting the chat to share with.

this way, we would get the search-function as well as the new-chat-function that would allow entering an email-address then.

[2019-03-28 10:10] testbird commented on #795
Yes, the chatlist-activity may even be better than the "new chat". Then entering existing chats could still work as usual, opening the chat with the new message in the editor.

[2019-03-28 10:47] r10s commented on #795
only using the "new chat" screen is no option as you cannot share to existing chats/groups from there. we had this in the very beginning and this was even more annoying :)

[2019-03-28 15:49] testbird opened #796 "re-enable "invite activity""
The invite feature is certainly needed by users, to get in touch with the messenger-only people (especially some groups) without having to manually scribble down the own email address in a clickable format, and composing all the necessary help/instruction about what deltachat is and how it is set up.

For a discussion about this, and a better invite message template see:
https://support.delta.chat

[2019-03-28 18:33] FH-Inway commented on #738
Could this be related to #740 ?

[2019-03-29 07:52] nicodh opened #797 "Location data needs to be "normalized""
After having a field test with the location streaming enabled it turned out, that there are many points off my route. See attached screenshots. I think the data has to be "normalized" based on time and location gap.
Found this at stackoverflow: https://stackoverflow.com/questions/47991613/locationmanager-and-jumping-coordinates

I also attached a gps track made on the same trip, but with apemap. S

[2019-03-29 09:05] Boehrsi commented on #748
I'm now able to reproduce the behavior and I'm on it to fix it.

[2019-03-29 09:44] Boehrsi commented on #415
Just checked on a Samsung S7 with Android 8 and everything seems to be fine. Checked also on a OnePlus 5T with Android 9 and there's a little difference visible (the bottom preview shows a little bit less than the actual image taken). On an emulator with 4.4 there is also just a small difference notable. I think it's related some how to aspect ratios and the used camera hardware / software.

[2019-03-29 09:57] r10s commented on #415
also could not reproduce that.
maybe we should ignore that.

[2019-03-29 10:07] r10s commented on #797
yip, this can probably be optimized. there is also [dc_array_get_accuracy()](https://c.delta.chat/classdc__array__t.html#a12804ce7eadf0f85f266da829f9ccc1b), maybe simply ignoring points which are too inaccurate already has a good impact.

however, while it is a nice feature to have, in general, maybe we should also not focus too much on the tracks. i think the most important things are the last po

[2019-03-29 12:11] #748 closed

[2019-03-29 12:18] Boehrsi commented on #738
I will have a look why this is happening.

[2019-03-29 12:21] r10s commented on #740
i think this very generic issue can be closed, in general, attachments work.

[2019-03-29 12:21] #740 closed

[2019-03-29 13:48] #738 closed

[2019-03-29 17:35] testbird commented on #602
Yes, regrettably,  the delays on error are too long sometimes and also mixing up messages too much for a chat app.

But straightforward actionable items exist. :-)
 (https://github.com/deltachat/deltachat-core/pull/446#issuecomment-441385285)

[2019-03-29 17:38] testbird commented on #602
Note, there is really no need for stats and "research" if the problem is confirmed and a clearly identified result of the code.

[2019-03-29 19:31] adbenitez commented on #269
was this option removed? I don't find it in the settings

[2019-03-29 19:33] adbenitez commented on #602
I receive a lot of complains from users about Delta Chat taking too long to send, and even sometimes it seems to take forever, and also problems receiving, people keeps killing&restarting the app quite often to make it work faster, this seems to be a problem specific of slow unstable networks ,

related: https://github.com/deltachat/deltachat-android/issues/788

[2019-03-29 20:27] testbird commented on #788
Could be caused by the too fast increasing delay due to the missing fix https://github.com/deltachat/deltachat-core/pull/446#issuecomment-441385285 for temporary server errors https://github.com/deltachat/deltachat-android/issues/602

But I am wondering why do you say the message was actually sent already? If you get the BCC the message should be out, maybe the smtp error is from the later moving

[2019-03-29 21:41] testbird commented on #602
On the IMAP side with its continuous connection it may make sense to base the keep-alive timeout also on a get_keep-alive_offset() that starts short and only gets longer if there are no interruptions (stable network conditions).

[2019-03-29 21:41] r10s commented on #269
yip, to simplify things, we're supporting only one mode currently and meanwhile we als figured out how to work around some limitations that were present at the time this issue was initially written (iirc :)

[2019-03-29 21:43] adbenitez commented on #788
yes, the message was sent, I received the self copy, and the app keeps trying to sending but gets that error(I guess the errror is related to the fact that the email was already sent) restarting the app causes the error to appear, even when the message was already sent, seems like the app for some reason is not able to send it again(luckily)

[2019-03-30 11:30] hpk42 commented on #796
a mobile-number based messenger can invite via other mobile-number based messengers and the UX can be made rather seemless.  DC's invite friends breaks this, as suddenly the receiving end needs to enter the unfamiliar terrain of providing their e-mail/password combo, see also https://delta.chat/en/2019-03-30-uxreport page 6 where it says: " Almost all users were confused that they had to enter the

[2019-03-30 11:30] #796 closed

[2019-03-30 11:35] hpk42 commented on #773
Are you up for helping with this @stmllr ?

I just created  https://github.com/deltachat/deltachat-core/pull/639  btw -- commits/reviews welcome ;)

[2019-03-30 12:29] hpk42 opened #800 "DC/RPGP on F-droid"
While the apk-building and gplay-releasing of Delta Chat with RPGP support is workable, the build process for f-droid needs to be adapted.  Maybe @r10s could first point to the code/build-scripts in question.

[2019-03-30 16:10] hpk42 opened #801 "improve wording in "simplified setup" dialog."
![simpl1](https://user-images.githubusercontent.com/73579/55278569-67585300-530e-11e9-9e64-9954d50c3661.png)

"login manually" would be better than "cancel" i think.   One never quite knows what "cancel" does -- it is easily interpreted as one of those "click-through" screens everybody grew accustomed with.

[2019-03-30 19:02] cyBerta commented on #793
I've fixed the latter one. see PR https://github.com/deltachat/deltachat-android/pull/802/files#diff-58e0ac6ee8447903e5f796e75a7db8db

[2019-03-30 20:40] adbenitez commented on #801
+1

On March 30, 2019 12:10:47 PM GMT-04:00, holger krekel <notifications@github.com> wrote:

[2019-03-30 20:52] abasifreke50 opened #803 "Add FAQ and search feature within the settings feature"
#### Proposal Description
Within my one year with Delta chat application, I have witnessed a lot of improvement in its features. I’d love to suggest two features which I believe will be a plus to the platform and also to its users.

* FAQ(Frequently asked questions) feature.
* Search feature.

If you've been using most applications developed in this era, you've seen the FAQ feature within its sett

[2019-03-30 21:24] r10s commented on #803
hi  @abasifreke50 thank your for your post.

we've also thought about putting the faq's into the app so that it is accessible offline, however, imho the main issue with the faq's is currently not the medium but that the content is outdated and incomplete.
are you up helping in this issue?

a search function could also be handy, however, not sure if android can help on this point. the settings dial

[2019-03-30 21:25] r10s commented on #803
just noticed, it is already moved to https://support.delta.chat/t/add-faq-and-search-feature/342 :)

[2019-03-30 21:25] #803 closed

[2019-03-30 21:39] r10s commented on #793
@cyBerta cool that you push this forward. i also think the most important thing is currently to get this all into a stable state. features can come later :)

however, what i don't really get: the fix replaces EmojiTextView by TextView - but isn't TextView still accessed from within a non-UI-thread which is simply not allowed? (from [developer.android.com](https://developer.android.com/guide/compon

[2019-03-31 11:26] cyBerta commented on #793
@r10s it's the other way around: I've replaced TextView with EmojiTextView explicitly in GenerateInfoWindowTask. The documentation doesn't contradict our approach as we don't manipulate the UI from a worker thread. This would only be the case if we add the UI components we create in the background to the viewtree, which we don't do. We only create the UI elements to generate Bitmaps. That's why it

[2019-03-31 11:31] #435 closed

[2019-03-31 11:38] r10s commented on #793
@cyBerta play, i see. testing this and merging the pr now ...

[2019-03-31 11:48] #793 closed

[2019-04-01 13:35] testbird opened #804 "start chat? prompt: no progress after "not now""
- Delta Chat Version: v.0.200
- "Show emails": yes

When trying to work through the (long) queue of (mostly full length) emails from known contacts, for most contacts I don't want to completely block them for chatting.

The question to start a new chat is thus best answered by "not now" (not this time).
But tapping on it does nothing. The question is closed, but the prompt does not change to the n

[2019-04-01 13:42] testbird commented on #804
BTW: The "not now" button may just be a simple "No" (beside "Yes" and "Never").

[2019-04-01 17:12] adbenitez opened #805 "Forwarding image from image viewer doesn't work"
When I go to the "all media" view, to find an image and tap it, the Delta Chat's image viewer is shown, it has two buttons one to save the image and another to forward the image? or full message?(I expect the image only), if I select to forward the image I am driven to the chat I had selected to forward the image, but the forwarded message isn't shown and isn't sent.

- Platform (android/blackberr

[2019-04-01 18:08] adbenitez opened #806 "'Login to your server' view not in dark mode"
with theme dark set the registration view still is in light mode

- Platform (android/blackberry/anbox): Android
- Device: BLU
- Delta Chat Version: 0.200.0
- Steps to reproduce the problem: set theme to dark, go to your profile settings, tap in "password and account settings"(which is a bit hidden because the keyboard is shown by default in this view)

[2019-04-01 18:14] r10s commented on #806
well, the "real" login view is never in dark mode because the user just does not have an option to switch to dark mode before logging in.

however, when changing the account data later, dark mode should be regarded.

the keyboard is no longer shown by default and _this_ dialog is tweaked a bit:

<img src=https://user-images.githubusercontent.com/9800740/55349540-40d71b00-54ba-11e9-8220-ac2bac77d13

[2019-04-01 18:15] r10s commented on #806
i think when targeting this issue, on can also have a look at https://github.com/deltachat/deltachat-android/issues/439

[2019-04-01 19:01] adbenitez opened #807 "Swiping out element in chat list leave white space in dark mode"
Ok, maybe I am a bit extremist with this, but when you swipe out a chat form the chat list(to archive it) the empty space is not in dark mode, this is something that is only visible for some seconds so feel free to close this issue if you think it is trivial.

- Platform (android/blackberry/anbox): Android 6.0
- Device: BLU
- Delta Chat Version: 0.200.0
- Screenshots:
![Screenshot_20190330-170100]

[2019-04-01 19:24] adbenitez opened #808 "Some contacts lists not readable in dark mode"
Seems like the font colour is not changed for the contact lists shown when sharing a contact, nor for the blocked contacts list.
related: #806 #807 #439

- Platform (android/blackberry/anbox): ANdorid 6.0
- Device: BLU
- Delta Chat Version: 0.200.0
- Screenshots:
### Sharing a contact in dark mode:
![Screenshot_20190330-210234](https://user-images.githubusercontent.com/24558636/55353302-f9886480-5

[2019-04-01 19:45] adbenitez opened #809 "[UX] Make easier to block a contact in Contact Requests view"
When an user taps in a message in Contact Requests view, they are offered to chat with that contact or to cancel/go-back to block the contact they must guess that the hard-to-tap little avatar of the contact is clickable and then in the contact profile view look for the block option, get another dialog, and finally block the contact. It would be nice if in the dialog that is shown when tapping the

[2019-04-01 19:57] adbenitez opened #810 "Archived chats entry shown in list to forward a message"
If user select to forward a message they get the chat list to select one of them, at the end of the list the archived chat option is shown, user expectation is that if the option is there it will allow to forward a message to archived chats, but when tapping the option nothing happens, if this option is useless because it isn't allowed to forward a message to an archived chat I recommend to hide i

[2019-04-01 22:09] r10s commented on #806
@adbenitez sure - thank you for the report :)

[2019-04-01 22:11] r10s commented on #808
thanks for reporting! i think when targeting this issue, on can also have a look at #439 and the other issues linked from there.

[2019-04-01 22:12] r10s commented on #807
and another great bug report :) i think when targeting this issue, on can also have a look at #439 and the other issues linked from there.

[2019-04-02 07:42] hpk42 commented on #810
I'd like to throw in that @xeniax's UX testing report https://delta.chat/en/2019-03-30-uxreport
on page 19 says "Most users do not need or do not understand the need
for archiving conversations. It may makes sense to drop this at some
point or at least not invest much work in it".  Personally, using lots
of chats (>200) i virtually never archive so happen to concur with the finding.

On Mon, Apr 0

[2019-04-02 10:51] testbird commented on #749
This can be solved to a good extent by using the last message's sorting time as a lower bound for sorting in a newly received message. https://github.com/deltachat/deltachat-android/issues/398

The remainig problem might only be that when moving back between timezones quickly after receiving a message, new messages may be **sorted** with dates a couple of hours in the future (behind the last messa

[2019-04-02 12:53] adbenitez commented on #810
I found the archiving feature fine, as you see I use it a lot, if users go mad because a not-the-big-deal "Invite friend" feature got removed, I don't wanna see what they will say if this is removed ;)

[2019-04-02 12:55] adbenitez commented on #810
Anyway I understand what you mean, this is trivial, I have done my part here, feel free to close :)

[2019-04-02 13:07] adbenitez opened #812 "Log view background not changed in dark mode"
In dark mode if user go to the log view, they can't see the log text, the font colour is changed to white, but the background isn't changed to black, so the text is the same colour as the background.
Related:  #806 #807 #439 #808

- Platform (android/blackberry/anbox): Android 6.0
- Delta Chat Version: 0.200.0
- Steps to reproduce the problem: set theme to dark, go to settings/advanced/View log
-

[2019-04-02 13:10] adbenitez commented on #812
closing this just checked it was solved here #811

[2019-04-02 13:10] #812 closed

[2019-04-02 13:24] adbenitez commented on #749
thanks for the pointer

[2019-04-02 13:31] adbenitez commented on #398
if there are messages from date X, and for some reason(ex. factory reset) I send a new message with a wrong date X-1, following what r10s said that it would be better to fix the date as soon as possible, maybe some warning can be shown to help users, telling them something like "hey! seems like your phone date is wrong" would be helpful.
related  #749

[2019-04-02 15:59] adbenitez opened #813 "UI error when archiving a chat and a new message arrives"
I had swiped out a chat to archive it, while the chat was being removed from the list I received a new message, seems like the new message caused a chat list update that interrupted the archiving effect, leaving two element of the list in blank(in different places of the list), the element isn't an empty space, can tap on it and it opens the chat that is in that position. This don't seems to be a

[2019-04-03 12:13] testbird commented on #804
If the current "not now" action is meant to just close the question, that could still be possible by tapping on the background of the dialog.

The currently missing "No" answer could replace it, useful as "no chat this time (but possibly next time)".

[2019-04-03 15:02] Simon-Laux opened #814 "Mute Chat forever"
I would like a `forever` option instead of the `1 year` option when muting chats.
I heard from jikstra that there would be $reasons for it not already being the case, I'd like to discuss this matter here.

[2019-04-03 16:52] testbird commented on #398
It's a good idea to provide a hint to the user that the system time has been set back, it **may** be wrong but might also be properly set back to another timezone.

When this happens, however, it is already too late to correct the system time before a message arrives.
And it would only be possible to correct the time, if it wasn't actually correctly set back to another timezone.

Thus, the test fo

[2019-04-03 17:00] nutpantz commented on #398
My berry has a rtc so that may not be applicable.

On April 3, 2019 9:52:07 AM PDT, testbird <notifications@github.com> wrote:

[2019-04-03 19:42] r10s commented on #812
great, in fact, i'd like to make the dark-mode really usable in the next version :)

[2019-04-03 20:38] testbird commented on #398
If you travel back in timezones, I think even with a radio controlled rtc new messages would need to get sorted behind the last message's sort_timestamp ("from the future").

[2019-04-03 20:54] abasifreke50 opened #815 "Make it possible for users to search through messages using the calendar tool"
Today I was wondering how I could help improve the delta chat application and I came up with something.

After using the delta chat for over 6 months, I have noticed that it is not possible to search through a particular message due to the lack of a search feature embedded within the search interface. I'm suggesting that the developers should include a search feature within the chat interface so t

[2019-04-04 09:55] r10s commented on #815
closed on favor to https://support.delta.chat/t/make-it-possible-for-users-to-search-through-messages-using-the-calendar-tool/351 - in general, feature proposals and discussions should go to the forum.

[2019-04-04 09:55] #815 closed

[2019-04-04 14:31] r10s commented on #808
fixed by #811

[2019-04-04 14:31] #808 closed

[2019-04-04 14:31] r10s commented on #806
fixed by #811

[2019-04-04 14:31] #806 closed

[2019-04-04 18:08] Hiboycubano commented on #770
Also related with issue #782 the crashing behavior on android 4.2.2 was reproduced on delta chat 0.200 (f-droid) :
-just receive a message

And the app will continuously crash until the green number of unread messages are over in every chat... off course without notification

[2019-04-04 18:08] Hiboycubano commented on #782
Also related with issue #770 the crashing behavior on android 4.2.2 was reproduced on delta chat 0.200 (f-droid) :
-just receive a message

And the app will continuously crash until the green number of unread messages are over in every chat... off course without notification

[2019-04-04 18:45] adbenitez opened #817 "Wrong group picture shown in group settings"
I was added to a group, someone set an image for the group, which is shown in the chat list, and in-chat(inside the chat of the group) and when I touch the group name in that view it is also fine, but when I tap on the group icon to add/remove someone, an old picture (that once was the image of another group) is shown instead of the right group avatar.

- Platform (android/blackberry/anbox): Andro

[2019-04-04 23:02] r10s commented on #439
closed by #811

[2019-04-04 23:02] #439 closed

[2019-04-05 00:43] r10s commented on #807
fixed by #811

[2019-04-05 00:43] #807 closed

[2019-04-05 08:31] Boehrsi commented on #805
I will have a look why this behaves wrong. :+1:

[2019-04-05 14:31] r10s commented on #817
we've disabled some glide-caches in the past, might be that this does not affect images already present on the device.

might be related to https://github.com/bumptech/glide/issues/3544

[2019-04-05 15:32] allo- opened #820 "A few more UX issues"
I tried the new release again and want to give some UX feedback (trying to act like a beginner), as I read you're doing tests specially for UX. Here is what I would try to improve in version 0.200.0

- Platform: Android
- Delta Chat Version: 0.200.0

-----

When adding a contact, you need to type in a textfield at top, that is hard to recognize as text field, because it looks like a screen header.

[2019-04-05 15:50] adbenitez commented on #817
had the same issue again yesterday, with the same group, pattern:
- lets call the buggy group X and the other unrelated group from where the images are taken group Y
- as I reported, I changed the image y1 of group Y for image y2 and in group X image y1 was shown in group X is settings
- now again, I changed the image y2 of group Y for image y3 and in group X image y2 was shown in group X is setti

[2019-04-05 17:18] r10s commented on #820
hi @allo- thanks for your impressions. in general, however, the forum at https://support.delta.chat is a better place for such discussions and feature requests.

[2019-04-05 17:20] r10s commented on #820
@allo- a great report, btw :) :+1:

[2019-04-05 18:35] allo- commented on #820
You're welcome.

This makes sense and is just not visible when creating the first group. But maybe this should be unified. adding, removing, and listing group members need the same list. So maybe list them there and have an "edit" button, that activates an in-place edit function and provide list filters for reducing large lists of contacts.

As a power user I know this. But I needed a second look

[2019-04-05 18:58] adbenitez commented on #817
also happened to another group just now, after a member was added, the picture was a really old picture that once was the picture of the same group "Y"

[2019-04-05 19:57] adbenitez opened #821 "Empty notification for voice and image messages"
Received a voice message, but the notification is says nothing, it is just empty

- Platform (android/blackberry/anbox): Android 6.0
- Device: BLU
- Delta Chat Version: 0.200.0
- Expected behavior: Something like a text "Voice message", or "Audio" in the notification
- Screenshots:
![Screenshot_20190404-193535](https://user-images.githubusercontent.com/24558636/55653101-741bf180-57bb-11e9-9521-066

[2019-04-06 06:09] violoncelloCH commented on #821
same for Images I think...

[2019-04-06 08:09] testbird commented on #820
The "create group" can also require to add a new email address in the process.

If the problem is the mixed-mode "search/create" in the (navigation) title, and the mixed selection/addition + mode changing in the list...

Then, I'd imagine an activity titled "select contacts" for a new chat,
* showing a checkbox list of existing contacts
* sorting all selected ones to the top, with a separating lin

[2019-04-08 19:58] Ampli-fier opened #823 "Dark Theme improvements"
- Platform: Android
- Device: Any
- Delta Chat Version: 0.200.0

I am currently working on a few improvements:

- Set a Conversation list item divider
- Change the Color for the round button at the bottom of the Conversation list (Start Chat/Group)
- Prepare a default background image (same as for the Light theme)
- ...

[2019-04-08 20:26] hpk42 commented on #823
cool! FYI bjoern is away on vacation but @cyberta can
also give feedback i guess ;)

On Mon, Apr 08, 2019 at 12:58 -0700, Ampli-fier wrote:

[2019-04-08 21:04] r10s commented on #823
yeah, i am on vacation :) so only short: wrt "default background image in dark theme": maybe just leave it as black. we used the "same as for the Light theme" before, however, imho it did not fit well.

[2019-04-08 22:11] WinterB1860 commented on #797
Tracks do at least provide the ability to troubleshoot accuracy for the general features.

I personally hope that once basic location sharing on messages becomes stable that the ability to record tracks isn't removed but enhanced to do similar functions as [OsmAnd Online GPS Tracker](https://osmand.net/blog/osmand-tracker-0-4-released) (OsmAnd Telegram location sharing)
But that sort of feature wo

[2019-04-09 07:52] cyBerta commented on #823
I can review your changes when you submit the PR.

[2019-04-09 16:12] adbenitez opened #825 "Date labels has wrong position after changing screen orientation"
If you change the screen orientation while in a chat, the "date labels" are not aligned correctly (see the screenshot)

- Platform (android/blackberry/anbox): Android 6.0
- Device: BLU
- Delta Chat Version: 0.200.0
- Steps to reproduce the problem: enter a chat, change screen orientation.
- Screenshots:
![Screenshot_20190407-161812](https://user-images.githubusercontent.com/24558636/55816497-5a7ef

[2019-04-09 16:23] adbenitez opened #826 "New map feature test report"
I just started to test the new map feature (DC 0.250) sadly I had not Internet so I could no test too much,
I recommend to display some message in the map area something like "Connection unavailable" if there are no connection, instead of showing an empty screen.
I found a bug, I don't know if is a constant bug or just because I was offline:
If I go to the map view, and give a tap to the "blue cir

[2019-04-09 21:47] violoncelloCH commented on #760
@gitlerat looking great! (probably even better than what I proposed in deltachat/interface#15 and https://support.delta.chat/t/logo-competition-user-opinion-poll/258)

I could look into how to implement it into the app as an adaptive icon (looks like something that's doable without that much Android coding experience)... however I would first need feedback of @r10s (and the other main project memb

[2019-04-10 13:05] nanashi222 opened #827 "Use openKeychain for key management on android"
- Version: 0.200
right now, Key Management on Android is pretty intransparent. A way to improve this would be to use the third-party app openkeychain (https://www.openkeychain.org) for key management similarly to how k-9 mail does.
That would also solve a slew of other problems like that autocrypt setup messages from enigmail with a key using a passphrase aren't accepted by deltachat (which openKe

[2019-04-10 18:30] Ampli-fier commented on #823
Submitted PR #828

[2019-04-10 19:32] adbenitez commented on #782
I had received a report from an user with the same problem of the app crashing, one thing the logs have in common with the one shared by @Hiboycubano is this:

there where no match for `dc_imap_delete_msg` or `delete` in the log
see the attached log

[device=samsung-1.txt](https://github.com/deltachat/deltachat-android/files/3065525/device.samsung-1.txt)

[2019-04-10 19:37] Hocuri commented on #827
The very big disadvantage: users will have to install another app (if they didn't already) which also is the reason why DC isn't already doing this iirc.

[2019-04-10 20:19] adbenitez commented on #826
here is a log file
[log.txt](https://github.com/deltachat/deltachat-android/files/3065696/log.txt)

[2019-04-10 20:26] hpk42 commented on #827
Also OpenKeyChain isn't available on iOS and Desktop platforms, so it's very unlikely we can even optionally use openkeychain, i am afraid. Therefore closing this issue.

[2019-04-10 20:26] #827 closed

[2019-04-10 20:28] hpk42 commented on #827
As to key management being intransparent: that's mostlly on purpose.  We are following the Autocrypt UX guidance in "don't talk with users about keys" -- at least that's true for the non-advanced options.  Despite this, there have been improvements in dealing with keys and i can imagine small improvements to key handling could be made, for example dealing with keys that come with a passphrase (cur

[2019-04-10 21:35] nanashi222 commented on #827
well ok, I think the idea should not be to use openkeychain specifically, but rather "a third-party app" for key management. So I don't really see it as a good argument against this feature that openkeychain isn't on iOS/Desktop. I'm sure there's a browser extension for that.
also, telling me that there's no valid private key in an autocrypt setup message because said key is protected by a passphr

[2019-04-10 21:42] nanashi222 commented on #827
btw, re don't talk to users about keys, Enigmail is arguably the most popular Autocrypt implementing piece of software and key management is fairly transparent there.

[2019-04-10 22:29] allo- commented on #820
Let's continue the discussion in the forum thread: https://support.delta.chat/t/a-few-more-ux-issues/367

[2019-04-10 22:29] #820 closed

[2019-04-11 12:25] adbenitez commented on #782
I recommended the user to disable the LED(set led colour to None) and until now he has no more crashes so it seems the LED colour is the cause, maybe because we are trying to parse a localized colour (Spanish in this case)

[2019-04-12 06:48] Boehrsi commented on #821
I will have a look and will try to make the messages a bit more meaningful :).

[2019-04-12 08:57] violoncelloCH commented on #821
It could just say:
📷 Picture – [optional message text]
🎤 Voice message

[2019-04-12 09:41] Boehrsi commented on #821
Right, I plan to reuse the messages we already use in the chat list (as preview) if an image / video / audio message is received, as those messages already contain an icon + some informational text.

[2019-04-12 13:50] #821 closed

[2019-04-12 13:53] cyBerta commented on #826
Thanks for the report! fixed with commit https://github.com/deltachat/deltachat-android/pull/829/commits/f78293a3ae8c7cc5bfc5de3f3a4d2f397e316a78

[2019-04-12 13:53] #826 closed

[2019-04-13 16:54] allo- opened #832 "Google shows wrong locale when using Google OAuth setup"
- Platform (android/blackberry/anbox): Android
- Delta Chat Version: 0.200.0

- Expected behavior: The OAuth page should have the system locale
- Actual behavior: The OAuth page is english

- Steps to reproduce the problem: Use an android system with german locale, have a GMail account that was created using a german locale, then login to Delta Chat

Probably the auth url either needs to contain t

[2019-04-13 17:01] allo- opened #833 "Do I need to add myself when creating a group?"
When creating a group, I can check or uncheck "Me" in the list of group members.

![group_creation](https://user-images.githubusercontent.com/1482341/56082858-862a0f80-5e0d-11e9-907b-a169d4abc1fc.png)
("(Me)" added as translation for the german "Ich" in the screenshot)

I am not sure, what happens, when I uncheck myself, but usually I would expect to be part of any group I create.

So either the e

[2019-04-13 17:10] r10s commented on #833
i think it's fine that "Me" is shown as a group member in the group list, however, i agree it does not make much sense to remove yourself when creating a group (after creation, however, you can leave a group - you are no longer member of this group then and "Me" won't appear in the list)

[2019-04-13 17:40] allo- commented on #833
I think I would just remove the checkbox next to "Me" (and possibly place "me" at the top of the list).

Does it even work to create a group without being a member? When you send a group mail, others add you to the list of recepients automatically, don't they?

[2019-04-13 17:58] r10s commented on #833
it won't work as the group is created by the initial mail sent by the group creator.

therefore, the checkbox beside "Me" should better be removed or disabled. however, i would leave the entry as such to clearify that there is no need to add yourself explicitly.

[2019-04-13 23:13] r10s commented on #832
as far as i can tell, the url does not include some token that disables the language autodetection intentionally.

so, i would expect that google detects the language and uses it (or uses the account language or whatever).

@all: has anyone seen googles oauth2 in non-english?

[2019-04-14 08:27] Wiesensohle opened #834 "Delta chat consumes a lot of resources"
- Platform (android/blackberry/anbox): Android 8
- Device: Samsung S7
- Delta Chat Version: from March 14, 2019
- Expected behavior: Resource-saving
- Actual behavior: On my Samsung S7 it uses a lot of battery and mobile data without me using it. My friends don't have the problem.
- Steps to reproduce the problem: Constantly
- Screenshots: https://www.h-felder.de/nextcloud/index.php/s/xd2mfz7EFZNz

[2019-04-14 10:38] webratte opened #835 "Send button difference between landscape and portrait mode."
Platform (android/blackberry/anbox): Android 7.0

Device: Huawei nova

Delta Chat Version: 0.200.0 (Gplay version)

Expected behavior: the same send button in both views

Actual behavior: different send button in landscape mode and portrait mode

Steps to reproduce the problem:
-start typing in portrait mode
-you see the paper plane
-turn your phone
-now the paper plane will be replaced by a norma

[2019-04-15 12:33] r10s opened #836 "avoid jitter of members when zooming out of the map"
it should be avoided that two members standing "close" to each other are combined to a single point.

[2019-04-15 12:44] r10s opened #837 "simplify location-history slider"
iirc, currently ...

- the map opens with both positions of the slider rightmost and the slider is half colored and has the label "24 hours". in this mode, the last known positions of the last 24 hours are shown, but not positions with messages.

- if the left (starting point in time) part of the slider is dragged to thiss 24 hour mark, this shows the last known positions and the positions with me

[2019-04-15 12:49] r10s opened #838 "disable gps device when done with location streaming"
not totally sure, but i think i've notived several times that the gps sensor is not disabled even if location streaming was paused.

in general, the gps-sensor can be disabled when dc_set_location() returns 0.

this issue might also be releated to the core, however.

[2019-04-15 12:54] r10s opened #839 "check if the map can be more responsive"
not sure if the slowness comes from the data treatment or from the map itself, the latter can be checked by having a closer look at how [Transportr](https://github.com/grote/Transportr) uses mapbox - they also have points, tracks and so on in serveral colors and everyrhing is quite fast and responsive there.

[2019-04-15 13:13] r10s opened #841 "close leaks reported by LeakCanary"
with [LeakCanary](https://github.com/square/leakcanary) enabled, there are some leaks reported, eg. some times when a chat or a map is opened.

at a first glance, the leaks seems not to be critical or huge, however, sooner or later some one should have a closer look.

until the things are fixed, we should disable LeakCanary as it disturbs normal development. when the bird is more quiet, we can fee

[2019-04-15 13:20] adbenitez commented on #833
just leave "me" checked but disabled so user can't change it and becomes obvious that you will be a member of a group you are creating and that you can't do it otherwise

[2019-04-15 14:32] adbenitez commented on #835
I think this have nothing to do with DC, it is your keyboard, at least mine have an option to disable the functionality to enter that full screen mode in landscape which is better to type in a text field in landscape mode, what you are seen is not the DC UI but your keyboard UI, you hadn't shared any screenshot so I am assuming that is what you are talking about.

[2019-04-15 16:14] webratte commented on #835
Have you tried it with your phone?

It's definitely a bug in DC.

In landscape the send button is a regular button with the text "message".

I have tested it also with other messengers an the same keyboard and it works perfect.

At the moment I'm not able to upload a screenshot. I will do it later.

[2019-04-16 07:15] cyBerta commented on #837
fixed with b20878d2bce82d96def0c02bb4b40b229a9fb498

[2019-04-16 07:15] #837 closed

[2019-04-16 11:27] r10s commented on #841
fixed by #840

[2019-04-16 11:27] #841 closed

[2019-04-16 11:35] r10s opened #844 "current position is only shown when "track" is active"
the last/current position for a member should be shown even when tracks a disabled. ideally together with the messages.

currently, the map is entirely empty when "show tracks" is not enabled:

<img src=https://user-images.githubusercontent.com/9800740/56206000-8dd6f780-604b-11e9-8514-a5547ebf044c.png width=200> <img src=https://user-images.githubusercontent.com/9800740/56206009-93344200-604b-11e9

[2019-04-16 11:39] r10s commented on #844
btw: wrt possible slowness reasons: also here is visible, that the drawings on the map are not just draw on the map but modify the map (see the poi "Allg. Arzt" and the streetname "Friedrich-Ebert-Straße")

[2019-04-16 15:53] adbenitez opened #846 "Documents not shown in all media view"
I received a pdf, and also a txt in a chat, I went to the "all media" view to see how this will look in the documents tab, but the tab is empty, is this a bug, or what is considered a document in DC?

- Platform (android/blackberry/anbox): Android 6.0
- Delta Chat Version: 0.200.0

[2019-04-16 18:34] Ampli-fier commented on #823
Resolved by #828 + #842 + #845

[2019-04-16 18:34] #823 closed

[2019-04-16 20:54] r10s commented on #846
this view is just not yet implemented. maybe we should disable it for now.

[2019-04-17 15:46] Hocuri commented on #835
That's WhatsApp in landscape (yes I use it ☹️)
![Screenshot_20190417-174322_1](https://user-images.githubusercontent.com/18012815/56301734-affa7380-6138-11e9-9018-e380a8aead4d.png)

[2019-04-17 15:48] Hocuri commented on #835
So @adabinez is right

[2019-04-17 16:20] webratte commented on #835
Ah, Ok.
But in this case maybe there should be the Text "send" and not "message".

"Message" sounds wrong for me.

And still the paper plain would be the nicer soulution.

Kontalk do it this way.

[2019-04-17 17:27] r10s opened #849 "clearly show location-streaming state"
if location streaming is enabled for a chat, this should be shown in the chatlist as well as in the chat.

- chat list: maybe by a typical location icon 📍 right of the time or right of the name (where the verified icon is)
- chat: somewhere in the title bar

[2019-04-17 17:36] r10s commented on #835
yip, a simple "send" would be better.
apart from that, the layout seems to be normal "enlarged keyboard" layout. i would leave this as it is, also wrt accessibility or so.
an alternative would be to show the normal chat layout as in portrait-mode, however, this may be unusable on smaller screens if the keyboard is expanded.

[2019-04-17 17:45] webratte commented on #835
Yes, this sounds good to me.

[2019-04-17 18:44] adbenitez commented on #835
+1 for the send

[2019-04-17 18:46] adbenitez commented on #835
agree, this is the expected behaviour, at least for me, I had never seen an app that don't do it this way

[2019-04-17 18:46] adbenitez commented on #835
shame on you!!! ;)

[2019-04-17 19:25] webratte commented on #835
I like the paper plane.
Isn't it nice ;-)

![IMG_20190417_212320](https://user-images.githubusercontent.com/6864851/56315156-4ccc0980-6157-11e9-8acf-758413e0b020.png)

[2019-04-17 20:55] r10s commented on #835
@adbenitez well, this is a normal activity, not quite the same. also the kontalk-title bar wastes space and prevents a multi-line edit field.

[2019-04-17 21:42] r10s commented on #835
fixed by #850

[2019-04-17 21:42] #835 closed

[2019-04-18 00:24] r10s commented on #431
issue can be close as the "invite friends" activity is no longer available, see https://github.com/deltachat/deltachat-android/pull/790 for some reasons.

[2019-04-18 00:24] #431 closed

[2019-04-18 00:31] r10s commented on #772
the format of the voice messages has changed from 0.90 to 0.100, not sure about 0.15, however.
i do not think it is worth to put much effort into this, esp. as the messages as such are not gone but are on the server and should be playable also on android from delta chat when an appropriate player is installed.

[2019-04-18 00:31] #772 closed

[2019-04-18 00:35] r10s commented on #832
google-oauth also has some issues currently, maybe this is related, see https://status.cloud.google.com/incident/cloud-iam/19001
![Screenshot_2019-04-18 Google Cloud Status Dashboard](https://user-images.githubusercontent.com/9800740/56329176-9716b000-6182-11e9-8755-32d0dcc25274.png)

[2019-04-18 03:58] webratte commented on #835
As I said before.
The text button "send" is ok to me.

But just for understanding.
Why not replace the text button with the graphical button "paper plane"?

There would be no waste of space but the UI would be more similar to the portrait mode.

[2019-04-18 10:40] r10s commented on #835
it seems not to be possible when using the keyboard this way, there is a function to change text text, but i found nothing to set an image or so:
https://developer.android.com/reference/android/widget/TextView#setImeActionLabel(java.lang.CharSequence,%20int)

again, it is possible when using a fully qualified activity, however, this will have some drawbacks as mentioned above.

[2019-04-18 11:03] webratte commented on #835
OK, thank you for clarifying this 👍

[2019-04-18 12:30] r10s commented on #835
you're welcome!

[2019-04-18 15:18] r10s commented on #849
closed by #853

[2019-04-18 15:18] #849 closed

[2019-04-19 00:20] csb0730 opened #854 "attachments with spaces in file name are not handled correctly"
If an pdf attachment has spaces in filename, text editor is started in spite of pdf viewer.
pdf attchments with no spaces in file name are handled correctly.

- Platform (android 4.1.2):
- Device: Samsung S3 mini
- Delta Chat Version: 0.200.0 self compiled with sources from 10.04.19
- Expected behavior: pdf viewer should be used to open file
- Actual behavior: text viewer is used to open file and

[2019-04-19 00:38] csb0730 opened #855 "Send picture by default in full resolution - by user setting"
v.0.200.0

There should be the user setting to sent pictures in full resolution (no compression)

This is not existent in current version.

[2019-04-19 00:40] csb0730 commented on #854
hint: this was not an issue in v0.20.0

[2019-04-19 01:38] webratte commented on #855
I agree with you.

As a workaround you can send pictures send as "file". In this case it will sendet as uncompressed.

See also the discussion in the forum:

https://support.delta.chat/t/ideas-for-image-compression-feature/313

[2019-04-19 09:58] r10s commented on #855
yip, you can send pictures without compression as files.
closing this as the discussion is already started in the forum, including pros+cons. we should continue the discussion there.

[2019-04-19 09:58] #855 closed

[2019-04-19 10:05] r10s commented on #844
fixed with the last prs :)

[2019-04-19 10:05] #844 closed

[2019-04-19 10:06] r10s commented on #836
at least mitigated by the last pr's, closing this for now.

[2019-04-19 10:06] #836 closed

[2019-04-19 11:14] csb0730 commented on #855
Ok, but adding a user setting isn't so tricky I think. In the moment there is a setting to set compression ratio. Why don't add a choice for "no compression" ?

Wouldn't close that here.

[2019-04-19 11:17] csb0730 commented on #855
Or at least reduce compression ratio for the lesser ratio level.
I have the feeling that ratio had been changed since v0.20.0, isn't it?

[2019-04-19 11:49] r10s commented on #855
afaik there were no significant changes.

[2019-04-19 16:42] csb0730 commented on #782
can confirm crashing often with v0.200.0 and core v0.42.0-dev.
LED colour was "Lila" (German) (but my S3 mini don't has an LED)

Now set ot "none" and will see ...

[2019-04-19 20:27] csb0730 commented on #772
Ok to close this now.

This is not a general issue and new recorded messages are working :-)

Am 18.04.19 um 02:31 schrieb björn petersen:

[2019-04-19 20:44] csb0730 opened #857 "log view - improve readability"
v0.200.0

- text is so small, that it's quite unreadable at smaller device (S3 mini)
- No timestamp included. This makes issue assignment more difficult or even impossible.
- Proposal: Introduce a button to save current log to file in download dir.

[2019-04-19 20:57] csb0730 commented on #834
Since a few days I'm using v0.200.0 (Signal ui) and are able to compare to v0.20.0 (Telegram ui)
My experience is:

- v0.20.0  uses around 2% of battery in average
- v0.200.0 uses around 8% of battery in average
  (IMAP jobs only for inbox and message move to deltachat folder activated)

Relating data transmission I'm not shure to see any difference.

[2019-04-19 21:08] csb0730 opened #858 "text size of input field does not grow with message text size"
v0.200.0

If message text size is changed from default to a bigger size (better readability) text size of input field keeps standard size.

This is hard to read at smaller device. Text size for input field should grow or shrink along with choosen message text setting.

[2019-04-19 21:18] csb0730 opened #859 "Search function for contact at screen "<== Forward to" is missing"
v0.200.0

This function was available at v0.20.0 (Telegram ui).
It's important to have in case of long contact/chatlist.

Maybe related to #443 ?

[2019-04-19 21:31] r10s commented on #858
well the "message font size" is explicit for the message font size.

for the other text fields, delta chat respect the system settings for the font:

<img src=https://user-images.githubusercontent.com/9800740/56444872-e8e24600-62fa-11e9-91f6-6e18941f4c5b.png width=200> <img src=https://user-images.githubusercontent.com/9800740/56444871-e8e24600-62fa-11e9-879a-c3cf59aca6df.png width=200>

(if one f

[2019-04-19 21:31] #858 closed

[2019-04-19 21:34] r10s commented on #857
yip, in fact, the font size could be a bit larger.
also a "save to downloads" might be handy.
wrt the timestamp: don't get it - there should be a timestamp in front of each and every line.

[2019-04-19 21:35] r10s commented on #859
i do not understand what you mean with _"Search function for contact at screen "<== Forward to" is missing "_

[2019-04-19 21:53] r10s commented on #425
not that sure if the question is superflous; it prevents accidentially clicks that are very easy to do while scrolling through the list. also the question is in-sync with the question asked when clicking on an e-mail address; it makes some sense to have a similar behavior, imho.

however, just my opinion, but we should continue the discussion in the forum at https://support.delta.chat/

[2019-04-19 21:53] #425 closed

[2019-04-19 21:55] r10s commented on #430
while i also think that a waveform would be nice, it seems to be quite some effort and would result in additional maintainance etc.

so i am closing this for now, however, we can continue the discussion in at https://support.delta.chat/

[2019-04-19 21:55] #430 closed

[2019-04-19 21:55] #715 closed

[2019-04-19 21:58] csb0730 commented on #782
@adbenitez @r10s

I can confirm the behaviour. Since I set LED colour to "None" I didn't see any crash. And I see in log the same FATAL EXCEPTION as adbenitez described.

Many thanks for this hint. **This is really an important containment action to cover the crash!** (which has been very disruptive).

See an excerpt of my log after crash:
[code]

[2019-04-19 22:05] r10s commented on #782
thanks all for the report, i am fixing this right now.

@csb0730 which android version are you using? this bug seems to affect at least 4.2.2 and 4.1.2.

[2019-04-19 22:25] #782 closed

[2019-04-20 00:10] csb0730 commented on #858
Ok, thanks for that hint.

I've overseen that system font can be adapted to the needs.

This is really sufficient because that controls both: message text and
input field :-)

Am 19.04.19 um 23:31 schrieb björn petersen:

[2019-04-20 00:13] csb0730 commented on #857
Hi Björn,

yes, a timestamp in front of every line would be really helpful.

Maybe You can add it?

Am 19.04.19 um 23:34 schrieb björn petersen:

[2019-04-20 04:04] hpk42 commented on #859
i know the problem ;)  When you forward a message then you can
select a chat to forward to.  But you can't search a chat/contact
there ... if you are trying to forward to someone you haven't chatted
to for a while it means scrolling down and looking very carefully ...

On Fri, Apr 19, 2019 at 14:35 -0700, björn petersen wrote:

[2019-04-20 09:35] r10s commented on #859
ahh, i see. the same functionality is missing for sharing from extern.

however, there is already an issue for that; i've made #795 a bit more precise wrt forwarding.

[2019-04-20 09:35] #859 closed

[2019-04-20 09:48] r10s commented on #857
hm, the log is created by [calling `logcat -d`](https://github.com/deltachat/deltachat-android/blob/19da5cde8a99c4d7c04b6601890a0df396ba1072/src/org/thoughtcrime/securesms/LogViewFragment.java#L89) which prepends MONTH-DAY HOUR-MINUTE-SECOND on each line for me and for many logs i've seen. however, in fact, some logs look a bit different and miss eg. the timestamp, see eg. https://github.com/delta

[2019-04-20 09:50] r10s commented on #857
possible logcat-options are shown at https://developer.android.com/studio/command-line/logcat, however, for now i am not up for figuring this out.

[2019-04-20 11:06] r10s commented on #415
deciding for the latter for now :)
it seems to affect only older phones/android-versions, if we get more reports we can reopen this issue and think it over.

[2019-04-20 11:06] #415 closed

[2019-04-21 10:37] bokf opened #862 "Single Reply to Group Message in wrong conversation"
I noticed following behavior, when I send a message to a group and somebody answers to my message, excluding the other group members, the message is shown in the group conversation anyway. According to my understanding a single reply to a group message should go to the single conversation with that person and not to the group conversation. In DeltaChat I can not see, if the email has been answered

[2019-04-21 15:02] r10s commented on #862
yip, this needs some discussion.
there are also the situations, where a message is a reply to group but not to all members.
however, all this should normally only happen when using non-delta clients.

[2019-04-22 11:09] Jikstra opened #863 "Latest fdroid version crashes on android 4.4 when opening a chat"
latest deltachat-android version (0.300.0) crashes when i try to open a chat.
Phone: android 4.4.4 (fairphone 1)

This does not happen when i use the 0.201.0 gplay version from github.

[2019-04-22 11:47] r10s commented on #863
afaik, there is no version 0.300.0 and no version 0.201.0. i assume you're reporting that 0.301.0 from frdoid crashes while 0.301.0 (or 0.200.0) from gplay works.

can you post the log here?
and some more details? does every chat crash? or just some? does using a fresh account/install help? did you do an upgrade?

i just tried an upgrade on my testphone and it works as expected.

[2019-04-22 12:00] r10s commented on #863
also just tested a fresh installation; woᴙks for me :) :)

[2019-04-22 15:19] adbenitez commented on #863
same issue reported by an user, I have the log trapped in delta chat, but I can't copy it because it is collapsed "[...]" and I can't copy it, :( but it is an error with XML inflating stuff, I will ask the user to resend the log to another email address

[2019-04-22 16:39] adbenitez commented on #863
got it:

[code]

full log:
[crash.log](https://github.com/deltachat/deltachat-android/files/3104082/crash.log)

[2019-04-22 19:06] r10s commented on #863
is [a known error](https://github.com/deltachat/deltachat-android/issues/480). hum, we need better testing esp. on older phones.

however, i'll fix it and do a new release.

[2019-04-22 19:56] adbenitez commented on #863
cool! I got already 3 more users reporting the same issue, good to know it is under control already :)

[2019-04-22 20:14] r10s commented on #863
and also good to know that kitkat seems to be in use, iirc we were discussing about dropping the support.

[2019-04-22 20:31] #863 closed

[2019-04-22 20:47] r10s commented on #863
new release: https://github.com/deltachat/deltachat-android/releases/tag/v0.301.1 - will be on gplay and fdroid soonish ...

[2019-04-22 22:49] csb0730 commented on #857
Added updates from Ampli-fier's pr to my local sources. Will test.

[2019-04-23 08:42] r10s commented on #857
wrt the font size: i've just played around a bit. yes, it is small - and the "S3 mini" won't help on this :)

however, i've used a slightly larger font and use a non-monospace one - i do not want the text to get wider than before as this would break more log entries into two lines which results in even worse readability.

[2019-04-23 08:42] #857 closed

[2019-04-23 18:25] webratte opened #867 "Bad behavior by forwarding a message"
- Platform (android/blackberry/anbox): Android 7.0
- Device: Huawei nova
- Delta Chat Version: 0.301.1
- Expected behavior: Message should only once forwarded. And then there should be the normal chat view.
If I like to forward this message again I should choose it again.

- Actual behavior: by pressing the back button twice it will offered to forward again

- Steps to reproduce the problem:
1. Lo

[2019-04-23 19:45] adbenitez commented on #867
I was keeping this issue in my "bug pocket" for a while, there was an issue also with the image not showing if you tried to forward an image to more than one people.

Anyway now in the 0.301.1 version I can't reproduce this any more, seems like it is fixed, now when I go back after forwarding a message I am in the chats list, not in the "Forward to..." view, so seems this issue was already solved.

[2019-04-23 23:03] csb0730 commented on #857
Results: tweaks around date and time are working fine :-)
I think at least this is really solved now.

Regarding text size: @r10s - you should not invest many time in that. A non-monospaced font is not the best for log file view but anyway examination at phone itself is very difficult because of the very big size of the log in current view.
 Would it be possible to place cursor by default at the e

[2019-04-23 23:23] csb0730 opened #868 "Search function very slow on dev-version, Android 4, S3 mini"
v0.200.0, Android 4.1.2, S3 mini

Search function in chat view is very slow and unresponsive. IMHO much much slower than in old 0.20.0 !

Example:
I'm searching for a chat in chat list by entering first four characters in search input field.
Then:
1. after approx 10s (!) first results appear which shows 65 chats affected (strange!), then
2. after another approx 20s last results appear (2 chats and

[2019-04-24 00:31] adbenitez commented on #857
the log is static, so there are no need to go to the end since nothing new gets added, if you want to refresh/update the log you must go back and the tap "View log" again
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-04-24 04:03] webratte commented on #867
Did you follow my instructions step by step? Especially step 5-9.

For me it's not fixed yet.

[2019-04-24 13:10] adbenitez commented on #867
you are right I was going back only one time,
but, while you will press back in the chat lists?? don't get me wrong, obviously this is not ok, but the only reason an user would press back in the chats list view is to leave the app, I don't see any real accident here :)

[2019-04-24 13:21] webratte commented on #867
I forwarded already a message to the wrong receipient ;-)

Maybe I was a little bit hectic...

[2019-04-24 13:23] adbenitez commented on #867
if something can go wrong... it will ;)

[2019-04-26 09:42] Boehrsi commented on #867
The linked PR should fix this behavior. :)

[2019-04-26 11:34] Boehrsi commented on #854
I will have a look why this is happening.

[2019-04-26 12:08] Boehrsi commented on #854
The linked commit should fix the problem.

[2019-04-26 14:01] #854 closed

[2019-04-26 14:03] r10s commented on #867
great! thank you for pushing this forward!

[2019-04-26 16:00] adbenitez commented on #784
this had not happened more in recent versions, seems to be magically solved ;)
closing for now

[2019-04-26 16:00] #784 closed

[2019-04-26 18:25] r10s commented on #784
cool ;) and: thanks for re-checking this!

[2019-04-26 22:43] csb0730 commented on #795
Ok, #859 is covered with comment at May 28 from r10s.
So this issue will cover that too.

@r10s is this a difficult extension? I mean this is a function I need personally more often!

[2019-04-26 22:45] csb0730 commented on #782
@r10s I'm using Android 4.1.2 (S3 mini phone)

Am 20.04.19 um 00:05 schrieb björn petersen:

[2019-04-26 23:09] csb0730 commented on #857
@adbenitez
I think You didn't catch my intention: If a crash or something strange happens then You'll find related logs always at or near end of current log. If You want to have a quick overview what happens You need to go always at the end of log (and this is not very handy if log is huge and presents always the beginning).

You know now?

[2019-04-27 14:28] r10s commented on #795
i'd also like to see this working, of course.

it's probably not that difficult, however, it is some work and it's all about prioritization :)

[2019-04-27 14:54] adbenitez commented on #857
the log don't grow big because it is a ring log, it gets overridden, and when you reopen the log after a crash new stuff is added so the error isn't at the end,
that said, I have nothing against your proposal, I am neutral with this, I was just giving some points to you to consider this :)
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-04-27 17:29] testbird commented on #795
What are your planned prioritiies, actually?

Looking at the list of closed issues, now, months after the transition to the signal codebase, there is unfortunately an insignificant amount that actually fixes a basic problem filed by a user. (Considering that only maybe 2% provide feedback rather than just uninstall, such feedback is very valuable.)

Because you closed a lot of issues during the tr

[2019-04-27 23:54] csb0730 commented on #868
Have a first approach:
Identified search functions in _chatlist.c_ `dc_chatlist_load_from_db()` and _context.c_ `dc_search_msgs()`.
Activated `dc_log_info()` in `dc_chatlist_load_from_db()` again.
In both functions a text query is used which starts search query with - every - char typed. Even with first char!

My first approach is to start search with 3rd char, not with 1st. This shows a significa

[2019-04-29 23:35] csb0730 commented on #868
See https://github.com/deltachat/deltachat-android/issues/296

The problem itself about overloading the device with unnecessary searches is still existant.

My 2nd approach now is: start search in chatlist with 3rd char (`dc_chatlist_load_from_db()`) and full text search (`do_search_msgs()`) with 4th char typed.

This makes search function much more responsive, gives response for contacts quite im

[2019-04-29 23:42] csb0730 commented on #296
@r10s - this is targeted by new version, but not solved.

[2019-04-29 23:51] csb0730 opened #877 "Don't send group change emails to non DC users"
With every group change an event mail is sent to every receipient in the group.

But, for non DC users these emails are confusing and I got often complaints about them.

One approach could be, that these event emails are only sent to known DC users, not to all group members by default.

[2019-04-30 07:56] testbird commented on #877
A drawback is that without a new message, the classic email users won't get the change and continue to answer or send to the old distribution list. (Will likely still happen, even if the change email more clearly instructs to only reply to to that message.)

In any case, just as with the encryption state, remember that there also needs to be a way to reset the status again when a contact moves to

[2019-04-30 14:08] adbenitez commented on #743
ok, tested this on a tablet from my work with GBs of RAM, and it also happens, the tablet has Android 6.0.1 so this is not a low RAM problem, seems like it is something realated to Android versions (Android 6 in this case)
can someone else with Android 6 confirm this??
Steps to reproduce:
1. Open Delta Chat and open a Chat
2. Write something, but don't send it.
3. Minimize Delta Chat and go to you

[2019-04-30 16:22] adbenitez commented on #877
I think this interaction of groups with classic MUA users have troubles, for example if I leave a group the classic MUA receive a message from me saying I leave the group but if he/she reply to that email he/she will reply to me again, so why we don't set the 'Reply-to' header so when they press the reply button they reply to the rest of the group without me since I am leaving the group,

with res

[2019-04-30 16:51] icke68746 opened #879 "Login screen endless loop with free GMX account due to folder limitation / Loginscreen Endlosschleife bei kostenlosem GMX-Konto wegen Ordnerbegrenzung"
- Platform (Android 4.1.2):
- Device:Neptune Pine
- Delta Chat Version: 0.200 (probably all)
- Expected behavior: Login successfully completed
- Actual behavior: Returns to the login screen
- Steps to reproduce the problem: Create 20 folders with a free GMX account and try  to log in with DeltaChat
- Screenshots: not necessary because no error message appears
- Logs: 2019.04.26-DeltaChat-NeptunePi

[2019-04-30 17:19] icke68746 opened #880 "Backup password entry window not movable / Backup-Passworteingabefenster nicht verschiebbar"
- Platform (Android 4.1.2):
- Device: Neptune Pine
- Delta Chat Version: 0.302.1 (probably all)
- Expected behavior: Backup password input window can still be moved up
- Actual behavior: Backup password entry window not movable
- Steps to reproduce the problem: Log in using a device with a screen resolution of 320x240 pixels or smaller
- Screenshots: attached
- Logs: -

Hello,
when I want to backu

[2019-04-30 17:22] icke68746 commented on #260
Hello,
I've got coloured emojis now. Thanks a lot!

Greetings Mike
--Oirginal--
Hallo,
ich habe jetzt farbige Emojis. Danke!

Gruß Mike

[2019-04-30 18:10] beenotung commented on #358
It is slow on my account as well, the message cannot be sent even after 4 hours, sometime a new messages can be sent but quite often to keep in the pending state. Not sure if it's the app or the mail server's problem. I'm using mail.com at the moment (receivers is yahoo and gmail, in 1-to-1 chat)

[2019-04-30 18:24] webratte commented on #358
@beenotung

Have you tried to send a mail with a normsl mail client?

This way you could check out if it's a mail server problem.

[2019-04-30 18:54] adbenitez commented on #358
some people here in Cuba has the same issue and it is due to the slow network in our case, sometimes the message is pending forever, and it actually was sent, sometimes it just take several minutes, seems like the threads get stuck, stopping the app and opening again make it send faster, can you try that @beenotung ???

[2019-04-30 20:05] webratte commented on #867
This is fixed in current version 302.1

So I think it can be closed.

If I'm wrong feel free to reopen it.

[2019-04-30 20:05] #867 closed

[2019-04-30 20:11] themchn opened #882 "Emails without Message-ID header are not seen"
- Platform: Android
- Device: LG V10
- Delta Chat Version: 0.301.1
- Expected behavior: Receive all emails that arrive in inbox
- Actual behavior: Certain messages are not visible in deltachat
- Steps to reproduce the problem:

I'm trying to get an email from some software into deltachat but the client doesn't seem to acknowledge that the email even exists. The email does come into my inbox withou

[2019-04-30 20:45] r10s commented on #882
i think missing Messages-ID headers have the potential to cause any kind of problems :)

[2019-04-30 20:47] r10s commented on #260
@icke68746 and how did you finally fix it? this might be interesting also for other users.

[2019-04-30 20:52] themchn commented on #882
Perhaps I should be filing a issue with the software that is responsible for sending the message then. Still, other email clients don't have an issue viewing the message.

[2019-04-30 20:56] r10s commented on #882
normally, it should be displayed anyway in delta chat, iirc, delta chat creates a message-ID on receiving if it is missing. so, the issue of the not-appearing message may be different.

the message-id as such is a SHOULD in RFC 5322 iirc, however, i think a MUA should have very good reasons to leave it out.

[2019-04-30 20:57] adbenitez commented on #260
I think @icke68746 say it works because in the new versions of Delta Chat, built-in emojis are used by DC, if the "use system emojis" option is set I guess the black ones will come back ;)

[2019-04-30 20:59] r10s commented on #880
hm, the password entry comes from the system as far as i know (eg. if you disable the device-protection, not password entry is shown), so i am not sure if we can do something on this issue.

[2019-04-30 21:02] r10s commented on #743
@adbenitez thanks for the details explanations. great report, as always :) this will probably help a lot on investigate on this issue.

[2019-04-30 21:04] r10s commented on #260
okay, i see :) in general, i like the black emoticons, btw. it's a feature!

[2019-04-30 21:53] themchn commented on #882
Well I can confirm that the lack of a message-ID header is the problem. I've set sieve to add that header in this specific case and now it comes into deltachat without any issue.

[2019-05-01 10:46] r10s commented on #882
@themchn thanks for checking!
i'll move this issue to the core, however. there seems not to be much android can do about this.

[2019-05-01 15:29] r10s opened #885 "let manually downloaded and not updated APKs expire after some time"
we allow downloading and installing APKs direcly from github, sometimes we also provide testing APKs via other channels.

however, as these APKs are not updates they may to cause problems after a while. eg. we have APKs that cause group-splits still around although some around this bug are already fixed for a while.

an auto-update might be possible, however, this would not work for APKs given on

[2019-05-01 19:07] adbenitez commented on #260
hahaha I like the black but I don't like they are too much Android-ish ;)
Also wondering how they look in the dark theme
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-05-01 19:48] r10s commented on #260
in the dark theme you would proably only see eyes and mouth. uhhhhhhh, straaaaaaaaange :)

[2019-05-01 21:45] csb0730 commented on #877
The more I think about this issue I find at the end we cannot fully prevent these "troubles". The challenge is to bring classig MUA and DC together.
The challenge is that DC needs these mails to organize it's group management but on the other hand, such a process is not foreseen for classic MUA. The user does it and that's it (!)

Because DC needs these mails in any case we cannot prevent them.

T

[2019-05-01 21:54] csb0730 commented on #877
Following informations should be clearly included to inform classic MUA user:
1. This mail is a management mail from Delta Chat messenger.
2. It is send because (for example) user xyz@domain.com was deleted from a distribution list.
3. Text: "If You are using a classic mail client You are informed about a distribution list change and may just delete this mail"

I think this could mitigate or even

[2019-05-01 22:04] csb0730 opened #887 "crash after tapping at location icon in chat view in Android 4.1.2"
v0.200.0
compiled from github sources
Samsung S3 mini
Android 4.1.2

Not shure if this issue is still existing in current version but I want to inform about.

See log excerpt:
[logcat-dc-crash-after-enable-locat-streaming.txt](https://github.com/deltachat/deltachat-android/files/3136140/logcat-dc-crash-after-enable-locat-streaming.txt)

[2019-05-01 22:06] csb0730 commented on #887
See line
`05-01 23:17:47.926  6883  6883 E AndroidRuntime: FATAL EXCEPTION: main`

[2019-05-01 22:13] csb0730 commented on #885
I think too:
- a clear informational message is ok
- prevent using is not ok

Timing should be extended (6 month?)

There should be an easy way to switch off this feature in sources.

[2019-05-01 22:34] csb0730 commented on #868
@adbenitez
You know many users with old mobiles. Are there no experiences about?

[2019-05-01 23:15] adbenitez commented on #260
hahahaha

On May 1, 2019 3:48:57 PM GMT-04:00, "björn petersen" <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-05-01 23:44] r10s commented on #887
again an android 4 issue, and i am sure, this won't be the last. it's just that android 4 has various bugs on its own, deltachat is typically not tested on these devices as it is not in use by any maintainers. i tend to stop supporting this until we have a reasonable way to check bugs here. so, if someone has some android 4 devices left please send them to https://delta.chat/en/imprint :)

[2019-05-01 23:48] r10s commented on #887
@csb0730 you have and android4 device? and can compile delta on your own? maybe you can take a bit care of such bugs in the future and provide pr as needed? most android4-bugs is just some xml that is not understood and needs some tweaking - see the past pr of the last weeks.

[2019-05-01 23:50] adbenitez commented on #868
Dear Christian Schneider,
I have  a pretty close friend that have a crappy phone: myself ;)
my phone has like 450MB of RAM and android 6.0
I have more than 360 contacts, currently more than 190 chats, and more than 27000 chat messages,
If I search the letter "a" I get matching:
194 chats
284 contacts
23684 messages
I get te result instantaneously, maybe in 1 second.
So maybe the issue is related t

[2019-05-02 07:11] testbird commented on #877
I think the clause might not be neccesary, as the text is not shown in deltachat.

So it could just be

And if `mailto:` links support longer recipient lists, these could serve well, depending on the type of action it could just be:

[2019-05-02 09:32] r10s commented on #868
i also think this is more an issue of the os/hardware combination. in general, the search may take a second, however, as started in a working thread, it should be interrupted by the "back" button or by entering a new search term (which included the next letter).

i also have > 30K messages and get results within a second or so.

of course, it can be improved, however, compared to 0.20 it is much f

[2019-05-02 13:53] csb0730 commented on #868
First the basics:
The version I use is compiled from the sources downloaded from github (+changes for imex backup).
In Android Studio it is a so called fat-debug version.
My current used sources are at level 0.200.0 (dc android) and 0.42.0-dev (core).

 number of chats=181
 number of chat messages=7449
 number of contacts=437
 database version=54

All my experiences seems strange to me if I see yo

[2019-05-02 13:54] csb0730 commented on #868
Shall I post a log?

[2019-05-02 14:11] r10s commented on #868
in fact, there might be an index missing in your concrete database.
may come after some development tries, unstable versions etc.
probably, after some export and imports its still the same database file from 0.20 up to now.

so, from my point of view, it's not really worth putting much development effort on this, i assume a "normally" created database will be fast (enough).

you can post an log he

[2019-05-02 14:15] r10s commented on #868
please also note that there are _huge_ differences in performance between debug and release versions. i also run into this trap several times; it's not just "half slower", esp. on old devices it may be factor 10 or 20 or even more.

(i am also using a quite old device, a nexus 4 from 2012 btw. - it's as old as the s3 mini)

[2019-05-02 15:02] webratte opened #888 "Add a button on the map to center own location."
Add a button to center own location on the map.

- Platform (android/blackberry/anbox): Android 7.0
- Device: Huawei nova
- Delta Chat Version: 0.303.0
- Expected behavior: option  to show own position in the center of the map by tab a button.
- Actual behavior: If I move the map I have to manually search for own position.

[2019-05-02 16:22] r10s commented on #787
see also https://support.delta.chat/t/editing-not-working/397

[2019-05-02 20:39] r10s commented on #839
not sure what else can be done on this issue, tending to close it.

[2019-05-02 20:42] r10s commented on #800
due to ongoing efforts in porting the whole core to rust, this issue is a bit outdated :)

[2019-05-02 20:42] #800 closed

[2019-05-02 20:44] r10s commented on #787
can someone with the error tell if this is working using signal on the same device? (we're using basically the same activities as signla for painging on images)

[2019-05-02 23:11] adbenitez commented on #868
I am using also a fat debug so it isn't that

On May 2, 2019 9:53:24 AM GMT-04:00, Christian Schneider <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-05-03 06:54] csb0730 commented on #887
I'll support as much I can, sure 👍

Will have a look into ...

[2019-05-03 06:57] csb0730 commented on #887
May You give me a start point where it could be?

[2019-05-03 10:03] r10s commented on #887
i think changes are needed only in the .xml file that is inflated from within MapActivity

[2019-05-03 10:55] csb0730 commented on #868
My strongest assumption is that there is an index problem in my database, but I'll see :-/

As I have two DCs on my phone I'll compare the databases.
I have (a) the production version which has been upgraded since two years now from version to version and (b) a new installation for testing. Both the same sources.
In principle the database structure of both versions should be identical.

But the qu

[2019-05-04 23:50] csb0730 commented on #868
@r10s @adbenitez

My first findings:
1. To disable debugging code I added `debuggable false` in debug section of build.gradle and rebuild the project. And really this new version is more responsive than before :)  But the search problem was unchanged.
2. Examining the database by checking with `pragma integrity_check`. This shows an OK result.
For that check I used the old database format which ke

[2019-05-05 00:07] r10s commented on #868
hm, there is a debouncer that should prevent multiple searches being executed at the same time, see https://github.com/deltachat/deltachat-android/blob/91be337fb68cb75712c64a3d01b94409329af675/src/org/thoughtcrime/securesms/util/Debouncer.java

not totally sure if all this works 100% and maybe it can be faster in a way, however, in general it seems to work. would be interesting if on your device a

[2019-05-05 00:08] r10s commented on #455
closed by #883

[2019-05-05 00:08] #455 closed

[2019-05-05 00:27] csb0730 commented on #868
Yes that would be interesting but not so easy, because I cannot import my current database with old method any more :-(
And I think with a small database You don't see that problem at all.

But some thoughts:
1. search is still much slower than at your phone: Why? Indexes are all there and ok, but for message text itself, there is no index. Would that help to add one?
It seems that your phone is s

[2019-05-05 00:39] csb0730 commented on #868
Debouncer is useless because even first searches are slower
that value used!
This value is used at v0.200.0 `this.debouncer        = new Debouncer(150);

Will increase that value tomorrow. I think this will help in some way, but not speed up full text search.

[2019-05-05 09:33] Px3XjG6P opened #889 "Feature request: automatically delete delivered messages from the mail server"
When I receive a message in the app, the message is needlessly kept on the mail server occupying space. It would be nice if these messages are deleted from the mail server immediately after succesful arrival in the app.

- Platform (android/blackberry/anbox): android
- Device: sm-j730f
- Delta Chat Version: 0.301.1
- Expected behavior: messages not kept on the mail server
- Actual behavior: messag

[2019-05-05 09:42] webratte commented on #889
There is currently work in progress.
I also think it's a very important feature.

https://github.com/deltachat/deltachat-core/pull/595

[2019-05-05 10:08] r10s commented on #889
@Px3XjG6P well, how "needlessly" this is  depends on the concrete setup, eg. for multi-client, webclients etc. this makes some sense :)

however, as @webratte mentioned, this seems to be a duplicate of eg. https://github.com/deltachat/deltachat-core/issues/164

[2019-05-05 10:08] #889 closed

[2019-05-05 10:30] Px3XjG6P commented on #889
Thank you! Indeed, the existing tickets overlap with what I suggested. Great!

[2019-05-05 11:28] webratte commented on #889
@r10s I absolutely agree.

It's not useless, but also absolutely important to keep the mailbox clean by deleting older messeges ;-)

[2019-05-06 08:49] cyBerta commented on #887
I have an android 4 device and can fix that

[2019-05-06 10:04] r10s commented on #419
not really "forward and share" but might be related very closely to issues we have there.

[2019-05-06 10:08] r10s commented on #797
i think this is mitigated by relying completely on the gps sensor, i've not seen weired graphs since we've disabled getting locations from wifi/mobile networks.

if this is still an issue, however, we should re-open it on core, i think normalisation would also be needed from desktop/ios.

[2019-05-06 10:08] #797 closed

[2019-05-06 10:12] r10s opened #891 "search inside forward/share screen, forward/share to archives and to new contacty"
to achive this, i think it makes some sense to reuse the "normal" ChatListActivity and, instead of just opening a chat on "tap", process the forward intent - which may be in the archived chats and in the contact-list (which implicitly created a contact then)

sharing/forwarding should work for all media then, esp. the forwarding of images etc. from the system gallery needs some testing then (it wo

[2019-05-06 10:15] r10s commented on #795
see https://github.com/deltachat/deltachat-android/issues/891

[2019-05-06 10:15] #795 closed

[2019-05-06 10:18] r10s commented on #810
i think when targeting https://github.com/deltachat/deltachat-android/issues/891 this should be fixed as well. however, leaving this open for now.

[2019-05-06 10:25] cyBerta commented on #887
Could not reproduce with current version 0.303 on Android 4.1.2 emulator. @csb0730 Could you please retest with the new version?

[2019-05-06 13:51] r10s commented on #887
also checked this again, works without crashes. there are some minor positioning glitches, some missing margings or margins that are too small in 4.1.2, however, this is not really problematic and i'd say it's not worth to target them (would be probably come at cost of maintainability of the "newer" systems).

closing this for now.

[2019-05-06 15:51] r10s commented on #424
well, i think this is just because the portait-expanded-or-not-state is just not tracked.

from a user point-of-view the described behaviour is "if we're in full screen, we stay in full screen" whereas landscape-mode only supports full screen.

so, i'd say it is not bad as it is currently and i would not change this. also as there was not much complaints about this point.

so i'd like to close thi

[2019-05-06 15:51] #424 closed

[2019-05-06 15:52] r10s commented on #422
there are good chances that this becomes  better withut libetpan. however, for now, iet's move this to the core, there is not much android can do about this.

[2019-05-06 19:09] r10s commented on #888
there are many things missing; let's discuss feature proposals in the forum.

[2019-05-06 19:09] #888 closed

[2019-05-06 19:16] r10s commented on #770
i think the initial issue is about notifications missing at all, not about how they're shown or so.
is this still an issue? i cannot complain about messages not reaching me on my test devices.

[2019-05-06 20:18] r10s commented on #447
so, basically, the "new message marker" is there but not shown.

[2019-05-06 20:20] r10s commented on #832
closing this for now, there seems not to be much we can do about it and also few information at all.

[2019-05-06 20:20] #832 closed

[2019-05-06 20:23] r10s commented on #834
wrt battery, there are some ongoing discussions about this in the forum, eg. https://support.delta.chat/t/delta-chat-drains-battery/71/24
wrt mobile data, there are several issues files at https://github.com/deltachat/deltachat-core/labels/save-traffic

closing this issue therefore.

[2019-05-06 20:23] #834 closed

[2019-05-06 20:25] #880 closed

[2019-05-06 20:28] r10s commented on #846
will be targeted together with #428

[2019-05-06 20:33] r10s commented on #739
should be fixed by https://github.com/deltachat/deltachat-core/commit/df4e4a4fb287fe425cb9318284ea7017c0b35d2b

[2019-05-06 20:33] #739 closed

[2019-05-06 20:35] #839 closed

[2019-05-06 23:16] csb0730 opened #892 "Add a button to jump to first message in chat"
When you are in a chat there is a round button at right bottom of chat (>>) to jump to last message in chat.
What is missing is the same button (<<) but to jump to first message in chat.

With former telegram UI this was possible to use the search function, enter nothing and search.
This gets You to the beginning of a chat.

[2019-05-06 23:18] r10s commented on #892
yip. however, i am more thinking about a scrollbar that can really be used as such (as in the contact list)

[2019-05-06 23:31] csb0730 commented on #868
Increased Debouncer from 150ms to 1000ms. This delivers much better results :-)
With that I can take out "defer search until min. 3/4th characters given" approach with relative good results.

A value of 600ms gets back again some freezing behaviour.

I'm trying various approaches for mitigating/optimize search behaviour and will post some logs soon.

[2019-05-06 23:33] csb0730 commented on #868
@r10s We should open this issue again and mark it accordingly (Optimize UX) ?.
Please assign it to me.

[2019-05-07 10:05] r10s commented on #868
did so :)
thanks for investigate further - as mentioned on irc, you have the perfect testing device :)

[2019-05-07 13:11] gilcu3 opened #893 "cannot open any conversation, problem with keys"
- Platform (android/blackberry/anbox): android 9
- Device: xiaomi redmi note 6 pro
- Delta Chat Version: 0.303
- Expected behavior: open conversation
- Actual behavior: crashing when I open a conversation
- Steps to reproduce the problem: open app, open any conversation
- Screenshots:
- Logs: https://pastebin.com/D5D9H8qz

[2019-05-07 13:47] r10s commented on #893
thanks for filing this issue, it should already be fixed by https://github.com/deltachat/deltachat-android/pull/890 ; the fix will be part of the upcoming releases then.

[2019-05-07 13:47] #893 closed

[2019-05-07 13:55] gilcu3 commented on #893
then after updating to next release, I will have access to conversations again, or I would have to fresh install it?

[2019-05-07 14:08] r10s commented on #893
you should just have access to your conversations. i am wondering where the bug come from, however, the corrsponding code was just a relict from the original signal code that i removed a few days before coincidentally :)

@gilcu3 would be great if you can test if the following works correctly for you
https://share.riseup.net/#-7dbwncuvMDYbavP9yCErQ - it is a 0.303 without the bug

[2019-05-07 14:53] gilcu3 commented on #893
I am using delta chat from f-droid repo, if you make the build compatible with it I will test it right away :)

[2019-05-07 14:58] r10s commented on #893
sorry, this is not possible. fdroid signs the apk with their keys. the developers do not have these keys.

[2019-05-07 14:59] r10s commented on #893
but you can do an export in the fdroid apk and leave it installed.
the linked apk from above can be installed without fdroid being unsinstalled and you can import the backup there.

[2019-05-07 15:01] gilcu3 commented on #893
the export function doesn't work either, it shows a toast saying "Authentication Failed"... I had tested that before when I realized if I reinstalled app and configured everything again it worked as usual, just had to lose my previous local conversations.

[2019-05-07 15:58] r10s commented on #893
just [released 0.304](https://github.com/deltachat/deltachat-android/releases/tag/v0.304.0) - this should be on fdroid soonish then (was withing 48 hours or so for the last versions which is quite fast compared to delays we had before)

[2019-05-08 02:37] Jikstra opened #894 "on Android 4, the Settings screen looks weird and misses some padding"
![photo_2019-05-08_04-36-49](https://user-images.githubusercontent.com/34889164/57345370-ed0bc180-714a-11e9-9ae4-6b4a2f0b74b0.jpg)

Telegram in comparison:
![photo_2019-05-08_04-40-50](https://user-images.githubusercontent.com/34889164/57345528-77ecbc00-714b-11e9-956b-a6c5afba9d34.jpg)

Icon/Text of settings is really close to the screen border. Not sure if this is specific to my old device.

[2019-05-08 09:27] r10s commented on #894
i think so, also noticed that for android 4.x. not totally sure, what the reason for that is, however, whatever the fix might be, this may result in keeping two layout files which results in additional maintenance then. so i am not sure if it is worth the effort.
there are already lots of workarounds to avoid android 4 crashes, eg. https://github.com/deltachat/deltachat-android/pull/865 :/

@Jikst

[2019-05-08 09:29] r10s commented on #894
wrt Telegram: well they paint everything on their own and do not use the typical views. this makes the app unusable for screen readers and so on (we're in contact with some blind people that test such things)

[2019-05-08 10:54] Jikstra commented on #894
The loading dialog/popup with that rotating circle thing is also misaligned. But that's all I came across.

So maybe not worth it. I'm fine with having it not 100% polished on older devices.

[2019-05-08 11:13] hpk42 opened #896 "Location not turned on/off with location-streaming"
On a lineage device, DC version 0.304.0, i can enable location streaming in DC without getting a warning or automatically turning location on.  After location streaming ends, the location icon remains on.  Is it possible to let DC control whether location streaming is on or off?

[2019-05-08 14:41] r10s commented on #896
but at least you'll see this in delta chat itself.

[2019-05-08 15:38] hpk42 opened #898 "Move some "advanced" options to "non-advanced""
as of 0.304.0 we have many options under "advanced".  Here is a list -- i mark those bold that i think could be moved to non-advanced.

- send autocrypt setup message
- prefer end-to-end encryption
- **email-interaction (show classic / contacts / all)** -> Chats and Media?
- IMAP folder handling (moves)
- **outgoing image quality** -> Chats and Media?
- **on-demand location streaming** -> Chats an

[2019-05-08 19:36] cyBerta commented on #805
For now the forwarding from the image viewer will forward the whole message. It was implemented like that in #818 and will stay like that after the refactoring.

[2019-05-08 19:39] cyBerta commented on #810
fixed with d737e6f7f8c34a03d40f6f0b31bd9852171bba25

[2019-05-08 20:25] Ampli-fier commented on #894
I am wondering if the results from an Android Studio Code Inspection give valuable hints regarding behavior on older Android Versions:

![DC-Code_Inspection_Result](https://user-images.githubusercontent.com/22896574/57405756-884e7680-71df-11e9-9324-53a391ece971.jpg)

(The total amount of errors/warnings depends on the selected Checks)

[2019-05-09 12:41] gilcu3 commented on #893
Indeed version 0.304 allows me to open conversation again, thanks. The other problem remains though, when I press Manage keys, or Backup, it opens the security pattern, and after I correctly enter it, it shows a toast saying Authentication problem. Log  [here](https://pastebin.com/H6zc04nt)

[2019-05-09 13:15] r10s commented on #893
@Boehrsi maybe you can have a look at that?

@gilcu3 however, i think we should treat this as a separate issue; the initial problem is solved - would be great if you can file a new issue for that.

[2019-05-09 13:19] gilcu3 opened #899 "Manage keys and Backup not working on android miui/xiaomi"
- Platform (android/blackberry/anbox): Android 9 MIUI 10.3
- Device: xiaomi redmi note 6 pro
- Delta Chat Version: 0.304
- Expected behavior: Manage keys and Backup work properly
- Actual behavior: Authentication failed toast appears
- Steps to reproduce the problem: Press on Manage keys and Backup options, then enter security pattern as needed.
- Screenshots:
- Logs: [log](https://pastebin.com/H6

[2019-05-09 13:20] gilcu3 commented on #893
done #899

[2019-05-09 14:53] r10s commented on #893
thanks!

[2019-05-09 14:53] r10s commented on #899
@Boehrsi maybe you can have a look at that? maybe it is reproducible in an emulator.

[2019-05-09 15:13] cyBerta commented on #810
PR  #895

[2019-05-09 15:14] cyBerta commented on #805
PR #895

[2019-05-09 15:25] gilcu3 commented on #899
@r10s it seems it is indeed a problem with MIUI as I get the same error when trying to change Pattern in Settings. So I'm closing the issue....

[2019-05-09 15:25] #899 closed

[2019-05-09 15:42] cyBerta opened #900 "Share content from share menu to single chat"
It would be nice to get the option to share content to a certain contact/chat directly from the share menu instead of opening delta chat first and then select the chat the content should be shared with.

[2019-05-09 15:43] cyBerta commented on #900
There is already some old signal code that can be partly reused

[2019-05-09 15:46] cyBerta opened #901 "fix sharing of multiple images"
Currently the PersistentBlobProvider seems to be buggy so that images are not always copied or loaded completely during the share process of multiple files at the same time. It results in half-drawn images getting shared.

[2019-05-09 18:32] wojtekbogusz opened #902 "DeltaChat app stops encrypting messages"
we were testing DeltaChat with a friend. initially both of us on Android phones. app version 0.304.0. then we exported keys (my friend public, i both public and private) and i imported them into Mailvelope (PGP browser extension) and i started to communicate from web mail encrypting messages with Mailvelope.
after the first message sent encrypted from web mail with Mailvelope my friends DeltaChat